[2017-09-22 00:50] NottyCode opened #1 "Create docker images for open liberty"
We need some docker images for Open Liberty. There are already docker images for WebSphere Liberty, but we should have them from Open Liberty too.

Some things to consider:

- Which JVM to use. IBM, Oracle, OpenJDK+OpenJ9, OpenJDK+HotSpot
- Which server templates to use
- Which architectures

It would be good to keep things simple, but [issue 8](https://github.com/OpenLiberty/open-liberty/issues/1

[2017-09-26 13:55] NottyCode commented on #1
I'm going to suggest that we go with the following tags:

kernel: - comes with all the code, but server.xml is configured with nothing allowing full customization.
microProfile1: - comes with all the code, and a server.xml configured with microProfile-1.2
webProfile7: - comes with all the code and a server.xml configured for web profile version 7.
javaee7: - comes with all the code and a server.xm

[2017-09-26 14:07] davidcurrie commented on #1
Looks reasonable to me although note that websphere-liberty uses microProfile not microProfile1. For multiple architectures, Docker are building images in to different namespaces (e.g. ppc64le/open-liberty) and then putting a multi-arch manifest in to the default namespace.

[2017-09-26 14:33] NottyCode commented on #1
@davidcurrie I wanted to use something different from microProfile as a tag because the websphere-liberty:microProfile uses microProfile-1.0 and these will use microProfile-1.2 which is a big difference in function.

I saw there was some thing in the build script for websphere liberty where you create a tag based on the current os arch of ibmjava mapped to arch/ibmjava. I assumed that was the magi

[2017-09-26 14:37] davidcurrie commented on #1
@NottyCode - how's that going to work going forwards? Is microProfile-1.3 not going to be an equally large leap? And whatever happened to semantic versioning!

The multi-arch stuff in ci.docker isn't actually needed any more - we should take it out. Docker build the images for all platforms and the 'FROM ibmjava' now just pulls the right image for the platform you're building on.

[2017-09-26 19:04] NottyCode commented on #1
@davidcurrie That is a fair point, however microProfile-1.x and microProfile-2.x are not going to be fully compatible and there is a lot of talk about doing 2.0 to pull in the EE 8 versions of CDI, JAX-RS, JSON-P and JSON-B plus possibly security. From that perspective I'm very nervous about having a microProfile without a version since it'll be obsolete when 2.0 comes out which I suspect will be

[2017-09-26 23:06] NottyCode commented on #1
I just delivered some Dockerfiles based on the proposal above.

This isn't "final" by any means, just wanted to start with a proposal. Open Liberty should also get some default tempates, so we can just do server create --template=<microProfile1|webProfile7|javaee7]

[2017-09-27 11:57] davidcurrie commented on #1
@NottyCode - I notice you're still using the path /opt/ibm which would give compatibility with the websphere-liberty images but was wondering to what extent you wanted these to be 'IBM free'?

[2017-09-27 15:27] NottyCode commented on #1
@davidcurrie that is a good point. Any comments on the SSL changes I made to docker-server?

[2017-09-28 10:52] tnsasse commented on #1
+1 for having different base images extending the kernel image
+1 to base off of ibmjava kit

Couple of thoughts:
- I'd like to have tags for each kernel version, this will help ops teams to methodically update their running containers and gives them the ability to rollback to a known good version. I don't imagine everyone should just use "latest", at least in enterprise scenarios we often see sta

[2017-09-29 02:15] NottyCode commented on #1
1) I think that is just getting the right tags when the build occurs. I've found this wiki page that says how to make it happen: http://windsock.io/automated-docker-image-builds-with-multiple-tags/

2) I'm of two minds on a DEPLOYMENT_DIR pointing at dropins because I prefer to encourage people to deploy in the apps folder and using server.xml configuration. If we do this we should probably also h

[2017-09-29 07:08] tnsasse commented on #1
Thanks for your feedback. I totally agree with OpenJ9.

I see what you mean with the env variables and it makes me reconsider my stance on the matter. I elaborated on this a bit more in the PR.

[2017-09-29 18:17] NottyCode commented on #1
Because we see a future need to support for different Java version's I've added some docker files that deal with different variant's of the JVM. Currently there is only Java 8 for IBM and IBM SFJ. As a tag naming convention I'm thinking:

    <type>-java<version>-<vendor>

so we would have tags like kernel-java8-ibm or webProfile7-java9-openj9. I haven't setup for these new images to get into dock

[2017-10-10 14:17] BarDweller opened #10 "doc location seems to be recursive/broken.."
Readme : https://github.com/OpenLiberty/ci.docker/blob/master/release/kernel/README.md
says "Instructions for using the image can be found on Docker Hub"

Over on docker hub..
https://hub.docker.com/r/openliberty/open-liberty/
The text also says "Instructions for using the image can be found on Docker Hub", and the Docker Hub bit is a link, (but all the links in the text give 404 when followed)

[2017-10-10 15:38] BarDweller opened #11 "server.xml's for docker images don't have host="*" set"
When using the images from here, without host="*" set, I couldn't talk to my liberty via the docker port forward..

But adding a server.xml to set host="*" meant I overrode the one supplied as part of the tagged image, meaning I had to set the features up etc, losing me the convenience of just using the tagged image.
(Tho I guess I could have configured host via config dropins.. it would be nicer

[2017-10-11 05:53] davidcurrie commented on #10
So the default when an automatic build is to populate the docs with the README from the repo it's building from which is where this text has come from. It can be easily edited now if someone can suggest some suitable replacement text.

[2017-10-11 05:54] davidcurrie commented on #11
Agreed - I hadn't spotted this was already the case. PRs are welcome if you want the changes quickly! :)

[2017-11-28 16:48] #11 closed

[2017-12-04 10:07] altenbueGHE opened #13 "Dockerhub links to docker file are incorrect"
The links on the Open Liberty Dockerhub page https://hub.docker.com/r/openliberty/open-liberty/ are broken when linking to the "Dockerfile"  and the image on "Docker Hub".

The Dockerfile link should be: https://hub.docker.com/r/openliberty/open-liberty/~/dockerfile/
I *think* the Docker Hub link should be: https://hub.docker.com/u/openliberty/

[2018-01-30 06:59] sdaschner opened #19 "Add fixed tags to Docker images"
Hi there,

The tags which the official `open-liberty` image currently uses are not fixed (i.e. immutable), that is, for example, `open-liberty:javaee7` may refer to different images over time.

While it makes sense for generic tag names such as `javaee7` that image contents change, it'd be very helpful (if not necessary) to additionally provide fixed tags, that won't be overridden by a future imag

[2018-02-13 18:06] NottyCode commented on #13
@altenbueGHE I think this is fixed. There was a problem where the documentation on the docker hub page kept being reset to a default that was broken, but I believe that has since been fixed.

[2018-02-13 18:07] NottyCode commented on #10
@BarDweller I believe this has been fixed since we worked out how the docs worked.

[2018-02-13 18:07] #10 closed

[2018-02-13 18:07] #1 closed

[2018-02-28 14:39] NottyCode commented on #19
Hi,

Sorry for not responding sooner, I didn't spot this when you raised it. We didn't do this because from an API perspective the images are compatible. However since you have we are looking into the implications of doing this. We need some information from the docker team to understand how official images work and are contacting them to clarify a few points before making a decision.

[2018-03-16 16:32] gcharters opened #22 "Make it easier to unzip a usr package over the image"
OL is installed in /opt/ol in the image.  In the WebSphere Liberty image, the location is /opt/IBM.  I'd like to write a Dockerfile that can take a usr server package and unzip it into either of these locations in a consistent way, without reference these locations.  I think this could be solved by adding `ln -s /opt/ol /liberty` to the Open Liberty image and `ln -s /opt/ibm /liberty` to the WebSp

[2018-04-06 13:01] yeekangc opened #25 "kernel doesn't appear to have been updated to 18.0.0.1"
The Dockerfile for kernel still says 17.0.0.4 at the moment:

https://github.com/OpenLiberty/ci.docker/blob/master/release/kernel/Dockerfile

Perhaps it is no longer meant to be used?  Not sure so opening this issue.

[2018-04-06 15:36] arthurdm commented on #25
We're waiting for Docker Inc to pull this PR https://github.com/docker-library/official-images/pull/4209

[2018-04-09 19:09] NottyCode commented on #25
The PR has been accepted now.

[2018-04-09 19:09] #25 closed

[2018-04-19 12:53] #13 closed

[2018-04-19 13:03] tjwatson opened #26 "New docker tags for springBoot features from open-liberty"
Once the Spring Boot features are included in an open-liberty release (Epic OpenLiberty/open-liberty#3169) we need to create new tags in docker that include the new features for Spring Boot.

[2018-07-16 18:58] mrglavas commented on #26
@dazavala @tjwatson: I am working on the Open Liberty tags for Spring Boot on a branch here: https://github.com/mrglavas/ci.docker-1/tree/springboot-1-2.

[2018-07-24 20:51] dazavala commented on #26
Summary of work completed for this issue:
* Add springBoot content to OpenLiberty image readmes: https://github.com/OpenLiberty/ci.docker/pull/32
* Update the openliberty images so they just track the open-liberty official ones: https://github.com/OpenLiberty/ci.docker/pull/30
* Add tags for Spring Boot support: https://github.com/OpenLiberty/ci.docker/pull/29

[2018-07-25 09:52] odidev opened #33 "ARM64 support"
I am trying to build ```Open-Liberty``` for ```arm64v8``` architecture.
Right now I can notice that this package depends on ```ibmjava:8-sfj-alipne``` and that also doesn't have support for ```arm64v8```.

Is there anyway, I can proceed with building this package for ARM.
I am working to get ```Open-liberty``` support ```arm64v8``` as official package.

Please guide, I would be happy to receive an

[2018-07-27 16:59] NottyCode commented on #22
There is a symlink of /liberty now, does this do what you want?

[2018-07-31 14:47] dazavala commented on #26
Hello, Michael.  The official open-liberty springBoot tags and readme additions are published at docker hub.  Closing the issue.

[2018-07-31 14:47] #26 closed

[2018-08-18 11:44] rieckpil opened #36 "Missing javaee8 tag for open-liberty image"
Hey,

In the documentation of the docker image on Docker Hub (https://hub.docker.com/r/openliberty/open-liberty/) you point out that there is a `javaee8` tag for the `openliberty/open-liberty` image. Neither can I pull the `javaee8` image with `docker pull openliberty/open-liberty:javaee8` nor is there a tag listed on Docker Hub (https://hub.docker.com/r/openliberty/open-liberty/tags/) for Java EE

[2018-08-19 13:05] arthurdm commented on #36
Hey @rieckpil - thanks for the feedback.

The `javaee8` tag can be found in the official Open Liberty Docker Hub image: https://hub.docker.com/r/_/open-liberty/

Please note the one you referenced (https://hub.docker.com/r/openliberty/open-liberty/) is the previous version before the official one.

@NottyCode - fyi, perhaps there's an update that can be done to `openliberty/open-liberty/`'s docume

[2018-08-19 13:43] rieckpil commented on #36
Thanks @arthurdm !

[2018-08-24 08:29] #36 closed

[2018-08-31 18:04] mthmulders opened #37 "OpenJ9-based images"
Inside [release/javaee8/java8](https://github.com/OpenLiberty/ci.docker/tree/master/release/javaee8/java8), there's a folder named `openj9`. That suggests there might be an image based on OpenJ9. But it seems it isn't published on Docker Hub.

Are there any plans to publish those?

[2018-10-30 20:31] aguibert opened #42 "Docker images based on OpenJ9 with OpenJDK 11"
OpenLiberty is planning to support Java 11 soon, and there are already AdoptOpenJDK OpenJ9 docker images available with Java 11:
https://hub.docker.com/r/adoptopenjdk/openjdk11-openj9/

We should create a new set of docker images that are based on these `openjdk11-openj9` builds

[2018-11-01 19:07] kwsutter opened #44 "Update to OL docker images for MicroProfile 2.1"
Talking with @arthurdm, we will need a slight update to the OL images due to the MicroProfile 2.1 update due in 4Q2018:  [Epic for MicroProfile 2.1](https://github.com/OpenLiberty/open-liberty/issues/5574)

The only updated component for MicroProfile 2.1 is OpenTracing 1.2.  That piece of work is being tracked via their [Epic](https://github.ibm.com/was-liberty/WS-CD-Open/issues/13712).

The WAD r

[2018-11-07 15:45] arthurdm commented on #44
For Open Liberty this may just be a simple change to a few of the `readme` files that say `MicroProfile 2.0`.  The server.xml is coming from `wlp/templates/servers/microProfile2/server.xml` in the binary zip, so as long as that gets updated to 2.1 (which I assume it will), the image will be good.

[2018-11-12 20:02] Hemankita opened #45 "Better error messages from Liberty"
We are running our applocation using the docker image `websphere-liberty:webProfile8`

While running here, the following messages are displayed when I am running the application as non-root.

[code]

They got resolved once we updated the folder permission here. But the above error messages are little not clear. It seems like a more keystore problem than the permissions related to it.

[2018-11-12 20:14] yeekangc commented on #45
I think:

(1) We may want to update the instructions for the relevant Docker images to clearly call out what to consider and to do now that non-root support has been added (and is the default)

(2) Better (error) messages from the runtime are always helpful

@arthurdm @chunlongliang-ibm

[2018-11-15 17:14] yeekangc commented on #45
Yes, we noticed that the instruction is up-to-date.  If they can be more guided and the change between versions can be appropriately highlighted to make it easier for users to identify what they need to know and actions they need to take and for when, that will be great.

If we should re-file this issue in the WebSphere Liberty repo, let us know.  Thank you.

[2018-12-04 20:43] kwsutter commented on #44
@arthurdm Should this Issue be closed?  Maybe reference the PR that was used to deliver these images?  Thanks!

[2018-12-10 18:00] arthurdm commented on #44
@NottyCode - can you confirm that `wlp/templates/servers/microProfile2/server.xml` will be updated with MP 2.1?

[2019-01-18 15:31] arthurdm commented on #19
My 2cents on this:  let's keep Open Liberty always updated with the latest binaries and not introduce versioned tags.  As @NottyCode mentioned the APIs are always compatible - i.e. there won't be breaking changes for your app, and as @shoeper mentioned the `sha256` approach is available if someone wants to "freeze" their version.

For reference, here's how you find the `sha256` address of the imag

[2019-01-18 15:44] arthurdm commented on #44
Confirmed that the above server.xml was updated.  Closing this one.

[2019-01-18 15:44] #44 closed

[2019-01-18 15:51] arthurdm commented on #22
Both Open Liberty and WebSphere Liberty have the `/liberty` symlink now, so closing this one.

[2019-01-18 15:51] #22 closed

[2019-01-18 15:54] arthurdm commented on #33
Hi @odidev - as you have correctly stated, the official Open Liberty images currently builds from the IBM Java Docker images.   So can you please open an issue with [that repository](https://github.com/ibmruntimes/ci.docker/issues) with your request for `arm64v8` support?

[2019-01-24 13:52] arthurdm opened #49 "Symlink for liberty directory is not working"
We have added a [symlink](https://github.com/OpenLiberty/ci.docker/blob/master/official/kernel/java8/ibmjava/Dockerfile#L35) to the `/liberty` directory, but it does not seem to be correct.

1. The symlink is not working at all:

[code]

2. The symlink should be to `/opt/ol`

[2019-02-19 14:48] arthurdm opened #54 "Add OpenSSL to Alpine flavours"
OpenSSL will be removed from the IBM JRE Alpine base image via PR https://github.com/ibmruntimes/ci.docker/pull/28

This issue is to make sure we explicitly add the OpenSSL package in Open Liberty's Alpine image.

[2019-02-19 14:53] arthurdm commented on #54
This issue should also make the same update to the Ubuntu binaries, so that in the future we're not broken by changes in IBM JRE.

[2019-03-26 00:18] #42 closed

[2019-04-01 18:08] andrewdes opened #61 "Using environment variable `PASSWORD`"
When generating the `keystore.xml` (https://github.com/OpenLiberty/ci.docker/blob/master/official/javaee8/java8/ibmjava/helpers/runtime/docker-server.sh) the environment variable `PASSWORD` is set. This should be something less generic (perhaps `KEYSTORE_PASSWORD` or something similar).

One example where this caused issues was in the Kubernetes-config guide (https://openliberty.io/guides/kubernet

[2019-04-01 18:15] gkwan-ibm commented on #61
@yeekangc

[2019-04-02 14:45] yeekangc commented on #61
Yes, this looks to be an overly generic variable that can easily clash with what a user may want to do or use.  Should consider something more specific or under a particular namespace.

[2019-04-02 14:47] yeekangc commented on #45
Same considerations apply now that Open Liberty is non-root by default.  The changes between versions can be better highlighted.

[2019-04-08 19:35] arthurdm commented on #61
I agree.   @leochr / @arturdzm - do we even need to export anything?  seems we just use the value in the snippet we're writing out.

[2019-04-08 19:44] arturdzm commented on #61
export is not the issue, within the Entrypoint script it is set as we never quit docker start shell script until server stops.
We need to change variable name.
Needs to happen on both OL and WL

[2019-04-09 18:56] arthurdm commented on #61
are those available as env vars?  When I do `docker exec <container> echo $PASSWORD` I don't get any values back.

[2019-04-09 19:19] arturdzm commented on #61
Because you are creating a completely new shell environment when you exec. Also these variables exist only in context of process that runs entrypoint script and jvm. Setting any variables in shell script only affects current shell. To make them global usually they are added into files like ~/.bashrc.
Each new shell  process will executed that file automatically

[2019-04-24 18:31] jkjome opened #65 "Custom keystore file always overwritten by open-liberty upon docker container startup"
My Dockerfile is pretty simple...
[code]

I build/run using...
[code]

Among the config copied into the open-liberty Docker image, the following is most relevant to the current issue....

[code]

My keystore.xml file looks like...
[code]

Note that I've verified that (prior to copy into the Docker image) my "key.jks" file contains the certificates I expect to be there using the Java keytool, as we

[2019-04-24 20:53] arthurdm commented on #65
hey @jkjome - in the Docker image the output_dir is different than the config_dir (see this [line](https://github.com/OpenLiberty/ci.docker/blob/master/official/javaee8/java8/ibmjava/Dockerfile#L30)) so it seems you are copying your key into the config dir, but your XML snippet points to the output dir..which causes OL to create a key for you.

I believe if you changed your XML snippet to be:

[co

[2019-04-25 03:35] jkjome commented on #65
Thanks @arthurdm.  It works now.  Now I realize that my local desktop installation of open-liberty must set "WLP_OUTPUT_DIR" to the same as the config dir (or leave it unspecified).  That's why it works there.  I guess I'll start referencing ${server.config.dir} for both docker and non-docker config files to maintain consistency.

https://openliberty.io/docs/ref/config/serverConfiguration.html#ser

[2019-04-25 03:35] #65 closed

[2019-04-29 23:47] ketaanhshah opened #69 "Open Liberty TLSv1.2 support not working for outbound calls"
we have built a Docker image using Open Liberty webprofile 8 and currently the HTTPS outbound calls to salesforce API are failing and from the log it seems that TLSV1 is only enabled and from all the reading it seems TLSV1.2 is needed to be enabled. I am very new to Open Linberty and I dont know how to do it. In My Server.xml file I have following entry:-
<keyStore id="defaultKeyStore" password="L

[2019-05-01 15:14] arthurdm commented on #69
It seems this issue is being discussed here: https://groups.io/g/openliberty/topic/31415463

[2019-05-08 19:44] NottyCode opened #74 "kernel docker images delete non-existent directory"
The kernel docker files contain this:

[code]

the problem with this is that /output/workarea doesn't exist until a later layer in the docker file. This isn't a major issue except that it probably should have been this:

[code]

which would have removed the workarea folder created by the server create step reducing (slightly) the size of the layer.

[2019-05-08 20:04] NottyCode commented on #45
So I just saw these. I'm assuming these errors are only coming up if Liberty is running as non-root? That seems like a functional issue in open-liberty and not an issue with the dockerfiles themselves. At which point this needs to be moved into the open-liberty repository and assigned to a security SME.

Are these still happening and what is being done to make sure this is moved to a repository wh

[2019-05-08 20:18] #45 closed

[2019-05-08 20:18] yeekangc commented on #45
Issue moved to [OpenLiberty/open-liberty #7463](https://github.com/OpenLiberty/open-liberty/issues/7463) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-08 20:22] yeekangc commented on #45
Moved the issue per latest comment for the errors to be looked at from a security standpoint.

Still makes sense to have better instructions for non-root vs root for the Docker images.

[2019-05-15 07:35] rafalmas opened #75 "kernel-java11-openj9 image on dockerhub is outdated"
It looks like the image with tag 'kernel-java11-openj9' was last build on 26th of March, (and it contains OL 19.0.0.2) while docker file for that image was updated on 30th of April (and it contains OL 19.0.0.4).

Could you please push new image to dockerhub and check why it was not done by CI pipeline.

[2019-05-21 18:53] Rachelwrq commented on #54
`openssl` is added and the branch is merged via the linked pr. Hence, closing the issue.

[2019-05-21 18:53] #54 closed

[2019-06-03 20:16] lostiniceland opened #84 "Java 12 images"
Please add support for Java 12 since it is officially supported by OpenLiberty. https://openliberty.io/docs/ref/general/#java-se.html

Since this is a non-LTS-release it should be fine if the image is only provided as long as the Java-version is.

[2019-06-12 21:40] lostiniceland commented on #84
I was about to close this issue, but I ran into a little challenge when running Java 12 in preview-mode (ClassVersionError unsupported minor version).

On my local openliberty I can reproduce this behaviour and fix it by adding a `jvm.options` file to `${server.config.dir}` which includes a line `--enable-preview` and I can run a deployment which was compiled with preview-mode (switch-expressions)

[2019-06-14 19:15] #84 closed

[2019-07-04 09:55] gasgithub opened #95 "Incorrect hostname in Ingress configuration example"
In the page that specifies Ingress configuration - https://github.com/OpenLiberty/ci.docker/blob/master/docs/ingress-configurations.md in the examples section it is written:

and it should be `enter dev.foo.bar` , so dev instead of app.

[2019-07-08 15:46] navidsh commented on #95
Good catch @gasgithub! Thanks

[2019-07-08 15:52] navidsh commented on #95
Fixed in https://github.com/OpenLiberty/ci.docker/pull/96. Closing.

[2019-07-08 15:52] #95 closed

[2019-07-17 15:52] arthurdm commented on #75
Our OpenJ9 images are now in our official repository, so they get built automatically by Docker Inc.  Closing this as the issue has been resolved.

[2019-07-17 15:52] #75 closed

[2019-09-10 16:03] arthurdm commented on #61
This has been fixed.

[2019-09-10 16:03] #61 closed

[2019-09-10 16:25] arthurdm commented on #37
Closing this issue as we have multiple OpenJ9-based images on Docker Hub now.

[2019-09-10 16:25] #37 closed

[2019-09-10 16:26] arthurdm commented on #33
Closing this, since we would need our dependent official layers to support `arm64v8` first.

[2019-09-10 16:26] #33 closed

[2019-09-10 16:27] arthurdm commented on #19
Closing this, as we have added versions to OL images a few months ago. =)

[2019-09-10 16:27] #19 closed

[2019-09-10 16:33] arthurdm commented on #49
Closing as fixed.

[2019-09-10 16:33] #49 closed

[2019-09-23 17:31] leochr opened #107 "Automated tests for OL docker images"
We need some tests to be run as part of our Travis builds for OL docker images. We can use few of the Stock Trader applications.

[2019-09-23 17:39] leochr opened #108 "Define process to apply interim fixes for Open Liberty running in a container"

[2019-09-25 20:09] leochr commented on #107
Delivered.

[2019-09-25 20:09] #107 closed

[2019-10-02 17:57] arthurdm opened #111 "Make build consistent with Docker Inc's build"
Recently there was a failure during Docker Inc's build of our image (see [here](https://github.com/docker-library/official-images/pull/6647#issuecomment-532881342)) because an incorrect value was set for `LIBERTY_VERSION` inside the Dockerfile.

Our Travis build did not catch this because we're building the images by passing build-args [1], which overrides the values inside the Dockerfile.

This i

[2019-10-04 09:28] cblomart opened #112 "ibmsfj & CVE-2019-14697"
Seems that the last ibmsfj is based on alpine 3.7.3 which has the CVE-2019-14697.

New alpine releases aren't flagged by this CVE (apline 3.10.2).

I will look at ibmjava:8-sfj-alpine to open an issue there also.

[2019-10-04 09:30] cblomart commented on #112
IBM java image incident https://github.com/ibmruntimes/ci.docker/issues/73

[2019-10-17 15:48] hsaunders0788 commented on #112
@leochr please have a look at the versions to see it this is still an issue, and whether we can make this update happen

[2019-10-17 16:07] cblomart commented on #112
@leochr, @hsaunders0788: [pull request](https://github.com/ibmruntimes/ci.docker/pull/56) is stil opened but now outdated. Also IBM sfj is based on alpine 3.7 which is near end of support.

[2019-10-19 12:14] cblomart commented on #112
[code]

I guess this has been updated!

Thanks :-)

[2019-10-19 12:15] #112 closed

[2019-11-11 09:11] dannemano opened #120 "Docker files for Java 11 for 19.0.0.10 and 19.0.0.11"
Hi,

We are using open-liberty:19.0.0.9-kernel-java11 as base image for our custom images.

Just wondering why open liberty hasn´t been packaged with Java 11 for 19.0.0.10 and 19.0.0.11?

What is the strategy going forward? Should we modify the kernel-image it self or can we wait for a upcoming open-liberty:19.0.0.11-kernel-java11?

[2019-11-11 18:03] arthurdm commented on #120
hey @dannemano - we're working on having Java 11 Open Liberty images based on UBI with the latest fixpack.  Coming soon.

[2019-11-12 15:44] dannemano commented on #120
Sounds great! Thanks!

[2019-11-13 18:39] fmhwong opened #121 "Syntax error in docker-server.sh"
Found the following output from docker-compose up when running `openliberty/daily:full`

[code]

[2019-11-14 08:06] dannemano commented on #120
Closing this as good stuff is on its way.

[2019-11-14 08:06] #120 closed

[2019-11-15 18:52] #121 closed

[2019-11-20 16:50] arthurdm commented on #111
Fix via PR #122

[2019-11-20 16:50] #111 closed

[2019-11-25 17:21] verymahler commented on #120
It looks like the PR was merged quite a while ago
https://github.com/docker-library/official-images/pull/6943
This item was opened only 3 days after the merge and now it's 17 days after the merge.
Any update? Any way people can help?

[2019-12-10 06:23] rieckpil opened #125 "Availability of Docker images for the latest Open Liberty version"
Do you currently plan to update the official Docker images at https://hub.docker.com/_/open-liberty with each release of Open Liberty? Right now `open-liberty:kernel-java11` is using Open Liberty 19.0.0.10 and two versions "behind".

[2019-12-10 17:03] ashu-mehra opened #126 "Confusing settings for OpenJ9 shared classs cache"
The [Dockerfile](https://github.com/OpenLiberty/ci.docker/blob/504fdf26e680b1f71de82ac4099044cb55e8e2d8/releases/latest/kernel/Dockerfile.ubuntu.adoptopenjdk8#L72) sets SCC location to `cacheDir=/output/.classCache/` but when I run the server and check the location in javacore, I see it as `cacheDir="/opt/ol/wlp/output/.classCache"`.
It appears the `IBM_JAVA_OPTIONS` is getting overwritten by `/op

[2019-12-12 20:30] jdmcclur commented on #126
I'm hoping this takes care of it: https://github.com/OpenLiberty/open-liberty/issues/9662

[2019-12-16 18:49] leochr commented on #125
@rieckpil Red Hat's Universal Base Images (UBI) for Open Liberty has the latest version with Java 11. It's our recommended set, so please consider using it: https://hub.docker.com/r/openliberty/open-liberty

Ubuntu-based images were recently restructured to simplify the tags and we only provide Java 8 based images at the moment.

[2019-12-16 18:59] rieckpil commented on #125
thanks @leochr for the information. I wasn't aware of this image and always used this in the past: https://hub.docker.com/_/open-liberty

[2019-12-16 19:05] aguibert opened #130 "Running UBI images gives openssl command not found"
Example output:
[code]

[2019-12-16 19:08] aguibert commented on #130
Side note: The `setlocale` errors appear to be cause by the JDK image we are building on top of:

[code]

[2019-12-16 19:19] aguibert commented on #130
Raised this issue for the locale warnings: https://github.com/AdoptOpenJDK/openjdk-docker/issues/255

[2019-12-16 19:38] #125 closed

[2019-12-16 20:05] arthurdm commented on #130
Thanks @aguibert - I have opened this issue for the missing `openssl` package in the AdoptOpenJDK board: https://github.com/AdoptOpenJDK/openjdk-docker/issues/256

[2019-12-18 20:10] #130 closed

[2020-01-04 17:57] mnesarco commented on #130
Hi Friends, I know this is marked as closed, but i still get the problem with openssl:

FROM openliberty/open-liberty:19.0.0.12-full-java11-openj9-ubi

[code]

I do not understand  how to solve this.

[2020-01-04 18:52] mnesarco commented on #130
My current workaround is:

[code]

[2020-01-06 20:05] arthurdm commented on #130
thanks for the feedback @mnesarco - we are in the process of updating the builds to pickup the latest commits, so that we get Andy's fix (#131), which will remove the dependency on openssl.

[2020-01-09 14:39] hsaunders0788 opened #132 "Add Contributor Agreement to OL-Docker Repository"
Add and enforce a contributor's agreement for the repository.

See parent epic for more information: https://github.ibm.com/WASCloudPrivate/roadmap-cloudpaks/issues/679

[2020-01-10 04:52] kvenkatramreddy opened #133 "java11 hotspot images"
Please, could you provide openLiberty images with OpenJDK11 Hotspot as well?

[2020-01-10 16:32] vijaysun-omr commented on #133
OpenJDK with OpenJ9 has been optimized to work best with Open Liberty in terms of startup time, memory footprint in particular (and generally speaking, it is the better choice performance-wise). As such, OpenJDK with OpenJ9 is the recommended (strategic) JVM of choice to run with Open Liberty for these reasons.

[2020-01-14 21:11] arthurdm commented on #133
Thanks for your request @kvenkatramreddy - as outlined by Vijay above, using the OpenJ9 images is the recommended path.      Is there a particular reason you wanted Hotspot?

[2020-01-23 14:20] JusteenR commented on #132
Fixed at #136.

[2020-01-23 14:20] #132 closed

[2020-01-27 05:56] kvenkatramreddy commented on #133
Hi,

We are using Apache Ignite In-Memory Grid data platform as embedded in my web application and we are observing a lot of GC pauses and their help guide shows GC tuning for the only HotSpot. So we want to try with OpenJDK hotspot

Thanks & Regards,
Venkat

[2020-01-27 15:55] arthurdm commented on #133
Thanks for the info @kvenkatramreddy

If you just want to try out that variant, you could use [this Dockerfile](https://github.com/OpenLiberty/ci.docker/blob/master/releases/latest/kernel/Dockerfile.ubi.adoptopenjdk11) and just change the `FROM` to `adoptopenjdk/openjdk11:ubi`.   If you `docker build` that updated Dockerfile you'll have the image you're looking for.

[2020-01-30 04:33] kvenkatramreddy commented on #133
@arthurdm
Thank you very much.

[2020-01-30 04:33] #133 closed

[2020-01-30 18:11] brutif opened #138 "readme at https://github.com/OpenLiberty/ci.docker contains numerous dead links."
per above.  keystore.xml, etc.

[2020-02-03 16:28] edavidj opened #139 "Build multi-arch images in public travis"
Now that ppc64le and s390x are supported by [public travis](https://blog.travis-ci.com/2019-11-12-multi-cpu-architecture-ibm-power-ibm-z), build scripts for pushing out the multi-arch UBI images to Dockerhub should be moved into this repo to simplify the build system.

[2020-02-03 18:44] #138 closed

[2020-02-04 20:16] MaiHameed opened #141 "configure.sh script is confusing"
When using the OL Docker images in our applications for our guides, as well as during workshops, a common comment that I receive and have noticed is that the console output is not user friendly. The red text when running the script as well as the messages stating that the server has been stopped is  is initially confusing for myself and others.

Just wanted to bring it to light :)

[2020-02-04 20:22] arthurdm commented on #141
thanks for the feedback @MaiHameed!   We have heard this feedback as well, so looks like something we need to address.

Ideally it would be good to have no output from configure.sh unless an `ARG` such as `verbose` is set to true.

[2020-02-05 21:17] gkwan-ibm opened #142 "Labels for release image are different than the daily build"
I ran
[code]
and got
[code]

When I ran
[code]
and got following:
[code]
Is that right?

If based on https://github.com/OpenLiberty/ci.docker/blob/master/releases/latest/kernel/Dockerfile.ubi.ibmjava8, there are missing labels.

[2020-02-05 21:36] edavidj commented on #142
Thanks for bringing this up @gkwan-ibm . `open-liberty:latest` is actually based on this https://github.com/OpenLiberty/ci.docker/blob/master/releases/latest/kernel/Dockerfile.ubuntu.adoptopenjdk8 file, which does appear to be missing some labels that are present in the UBI Dockerfiles.

The UBI release images do pick up the correct labels, so I'll look into adding those to the ubuntu ones as well

[2020-02-06 15:21] gkwan-ibm commented on #142
@edavidj Will those labels name. version, vendor, summary, description, etc be added back to OL release docker image? If yes, I have concern.

I am ok with the org.opencontainers.image.* labels, but not the name, version, vendor, summary, description, etc labels. I recommend to add a namespace to those labels, e.g. com.ibm.openliberty.*. When people build their docker image from OL, they do not ne

[2020-02-06 15:38] edavidj commented on #142
@gkwan-ibm Okay, I'll hold off on any action until there's more discussion around what you suggested. Based on the fact these labels aren't present in the ubuntu files already, I think your suggestion is a good change. I can apply the change to the UBI images as well granted nothing relies on those labels being present as is currently.

[2020-02-06 16:04] gkwan-ibm commented on #142
If no change, no concern.
Whenever add a new label to the OL docker image, it is better the label with a namespace.

[2020-02-06 19:56] arthurdm commented on #142
fyi, Red Hat certification checks for certain labels, without namespaces:

[code]

So we need to have these in the image.

[2020-02-06 20:15] edavidj commented on #142
Ah alright, then no changes are necessary. I'll close this for now, granted we don't need those labels in the ubuntu images. For clarity sake I'll open a PR to expand the OL daily README to make it clearer what tags it's pushing and what `latest` is pointing to.

[2020-02-06 20:15] #142 closed

[2020-02-07 17:12] JusteenR commented on #141
Closed at #144

[2020-02-07 17:12] #141 closed

[2020-02-21 21:50] edavidj commented on #139
Blocked by an issue with public travis s390x builds seen [here](https://travis-ci.community/t/no-space-left-on-device-for-system-z/5954/13). Won't be able to support zLinux until this is resolved.

[2020-02-26 11:31] verymahler opened #148 "Update to 20.0.0.x + Java 11 + OpenJ9"
Is there still a new image coming for the **Open Liberty 20.0.0.x** + **Java 11**?
Version 19.0.012 + Java8 is the latest version I could find here https://hub.docker.com/_/open-liberty

[2020-02-26 15:52] edavidj commented on #148
That link is for our Ubuntu based images, which only support 20.0.0.2 on Java 8 at the moment (see `open-liberty:kernel-java8-openj9`). For Open Liberty 20.0.0.2 + Java 11, and other options based on UBI, see [openliberty/open-liberty:kernel-java11-openj9](https://hub.docker.com/layers/openliberty/open-liberty/kernel-java11-openj9-ubi/images/sha256-781fa9dbe7cae68faaab38de80ae22b07069e0e3d3f4ba98e

[2020-02-26 16:06] edavidj opened #149 "Improve Docker Hub README's"
Currently the Docker Hub README's for [open-liberty](https://hub.docker.com/_/open-liberty) and [openliberty/open-liberty](https://hub.docker.com/r/openliberty/open-liberty) are not up to date in terms of how they relate to each other and what images are available.

This results in a lot of confusion about how to get the latest versions of liberty, and a lot of people unaware that the majority of

[2020-02-27 14:04] verymahler commented on #148
Ok thanks.

[2020-02-27 14:04] #148 closed

[2020-03-10 20:06] jdmcclur commented on #126
This should be fixed now, only /output/.classCache/ is used with the docker images.

[2020-03-11 15:07] ashu-mehra commented on #126
@jdmcclur thanks for the update!

[2020-03-11 15:07] #126 closed

[2020-03-17 17:48] cwansart commented on #149
I agree here. https://openliberty.io/downloads/#getOL and also the example in the README here (section _Building an application image_) both use the container `open-liberty` instead of the `openliberty/open-liberty` container.
This is strange since the section above (_Docker Hub images_) states that `openliberty/open-liberty` containers are the preferred ones.

[2020-03-23 15:33] PhilippParis opened #158 "container cannot be started in read-only mode"
if the docker container uses a read-only filesystem startup fails with:
`cp: cannot create regular file '/config/configDropins/overrides/trustDefault.xml': Read-only file system`
even if the keystore is build into the image

a possible solution would be to copy the trustDefault.xml file during build instead at runtime.

tested with image 20.0.0.3-full-java11-openj9-ubi

[2020-03-23 17:17] arthurdm commented on #158
@arturdzm - I guess the new cert manager support has limitations in terms of supporting read-only filesystems.   Probably something we should: (a) look to see if improvements can be made, and (b) document the limitations.

[2020-03-30 19:14] cwansart commented on #149
This issue would be resolved with https://github.com/OpenLiberty/ci.docker/pull/159 wouldn't it?

[2020-03-30 19:55] edavidj commented on #149
I still need to update the documentation on the official [DockerHub](https://hub.docker.com/_/open-liberty) itself, so I'll keep this open until that's complete. That update will come from https://github.com/docker-library/docs for open-liberty and websphere-liberty. Hoping to get to that today/tomorrow.

[2020-04-02 17:31] edavidj commented on #149
Documentation for Docker Hub official repos has been updated. I'll look into opening a separate issue for potentially updating https://openliberty.io/downloads/#getOL  to point to the preferred UBI images. Closing.

[2020-04-02 17:31] #149 closed

[2020-04-24 16:38] arthurdm commented on #158
@arturdzm - can you please explore a flag (env var) to avoid going down the path of manipulating trustDefault.xml?    If someone already has the TLS / cert snippets configured during their image build there should be a way to turn off any need for Liberty to write it during container startup.

[2020-04-24 16:39] arthurdm opened #167 "Update labels"
Our UBI labels need to be updated, as they still mention SFJ and UBI min.

Also, the Ubuntu variants are missing some of the labels such as `version`.  We should make them consistent with the labels in the UBI variants.

[2020-04-24 20:55] arthurdm opened #169 "Add ifix instructions / script"
This workitem will add the equivalent to the ifix support available in the WebSphere Liberty container, illustrated here: https://github.com/WASdev/ci.docker/tree/master/ga/applying-ifixes

So the work involves:
* adding a new `applfying-ifixes` page in this repository
* adding similar configure.sh support as https://github.com/WASdev/ci.docker/blob/master/ga/latest/kernel/helpers/build/configure.

[2020-04-24 20:56] #167 closed

[2020-04-28 19:47] edavidj opened #171 "Investigate using experimental buildx command"
Recent versions of docker support an experimental feature [buildx](https://github.com/docker/buildx) that allows for pretty straightforward building and pushing of any number of CPU architectures from the a single machine.

Investigate:
- How consistently this can work within Travis CI, from a quick look this shouldn't be hard but Travis is good at causing small intermittent issues.
- What order i

[2020-04-29 10:18] BastianSperrhacke-Otto opened #174 "Question: Startup time of open-liberty docker images quite long"
Hi guys.
I'm just playin' around with the openliberty as an alternative server for our jakarta EE Applications.
In the community I heard quite good reputations and the startup times mentioned in your website looks promising.
Because of our cloud native style we autoscale our servers on AWS Fargate, which makes the startup time an important parameter.
When I just start an docker container locally (

[2020-04-29 14:20] jdmcclur commented on #174
@arthurdm - For the full image, it looks we need to add another layer to the shared class cache like we do in the websphere-libery image (https://github.com/WASdev/ci.docker/blob/master/ga/latest/full/Dockerfile.ubuntu.ibmjava8#L28-L32)

Running docker pinned to 2 cpus in my Ubuntu bare metal Haswell environment, this brings the startup time from 10s down to 4.5s.
[code]

For the kernel image, I d

[2020-04-29 16:30] ymanton commented on #174
This should be fixed by https://github.com/OpenLiberty/ci.docker/pull/175.

[2020-04-29 20:38] jdmcclur commented on #174
I should also mention, the full image is more for convenience as it enables a lot of features you probably don't need.

For best performance use the kernel image with only the features that you do need in the server.xml. When development is done, put this at the end of your Dockerfile, which helps with startup performance, but It takes a bit to run (less than a minute usually), so you may not want

[2020-05-04 16:38] leochr commented on #169
Delivered.

[2020-05-04 16:38] #169 closed

[2020-05-14 17:20] gkwan-ibm opened #181 "Failed to run configure.sh"
If Dockerfile has `FROM open-liberty` and `RUN configure.sh`, when build it, got this error:
[code]
When add `ARG VERBSOE=true` in Dockerfile, will have following
[code]

[2020-05-14 17:24] jwalcorn commented on #181
This sounds related to the earlier issues I raised on the #was-docker channel.  That led to PR #179  and PR #180 being delivered, and the results being pushed to DockerHub.  Sounds like we need one more round to get it perfectly correct.

[2020-05-14 17:26] jwalcorn commented on #181
<img width="345" alt="image" src="https://user-images.githubusercontent.com/28963246/81965739-808d9300-95e6-11ea-8c4a-3ed11adb0dab.png">

[2020-05-14 20:13] arthurdm commented on #181
@gkwan-ibm - once this PR (https://github.com/docker-library/official-images/pull/8011) gets merged then the images will be rebuilt.

[2020-05-16 11:44] ggam opened #183 "Provide JDK 14 images"
Only JDK 8, 11 and 13 images are provided. JDK 14 is the latest and is already supported in Open Liberty 20.0.5.

[2020-05-16 12:11] arthurdm commented on #181
Fix is now available in the images.  Please re-pull and retry.

[2020-05-19 14:22] gkwan-ibm commented on #181
Verified and the problem was resolved.

[2020-05-19 14:22] #181 closed

[2020-05-19 15:07] arturdzm commented on #158
Should be fixed now with #177

[2020-05-19 15:07] #158 closed

[2020-05-19 15:34] leochr opened #184 "Remove extra variabe "userAPI" from sso-oauth2.xml"
@meiaus commented on [Sun May 17 2020](https://github.com/OpenLiberty/open-liberty-operator/issues/161)

A while back when running the Open Liberty Docker images to validate the sso-### xml, the associated parameters with each sso provided were checked via trace log as documented in https://github.com/ayoho/Security-SSO/issues/2.
Specifically from sso-oauth2.xml (https://github.com/ayoho/Security-

[2020-05-19 15:35] leochr opened #185 "Update for sso provider "oauth2" in https://github.com/OpenLiberty/ci.docker/blob/master/SECURITY.md"
@meiaus commented on [Sun May 17 2020](https://github.com/OpenLiberty/open-liberty-operator/issues/159)

Not sure if the following SECURITY.md page is handled via "open-liberyt-operator" repo, but since the following docker build problem is experienced from running with Open Liberty Operator, tracking this ticket here:

https://github.com/OpenLiberty/ci.docker/blob/master/SECURITY.md

Recently whe

[2020-05-19 20:21] arthurdm commented on #183
yup, agreed.

We should replace the JDK 13 image tags with JDK 14, using `adoptopenjdk/openjdk14-openj9` as the base.   This should apply to the 20.0.0.5 and `latest` tags.

For the other tags, simply remove the JDK 13 folder, as those are no longer supported.

[2020-05-20 15:09] alexsm82 opened #187 "Update mountPath in Infinispan secret sample yaml"
The Infinispan generated secret must be mounted at `/platform/bindings/secret/` but in the sample yaml the mountPath listed is `/config/liberty-infinispan-secret`. The mount path should be updated to `/platform/bindings/secret/`.

[2020-05-28 17:42] InfTkm commented on #183
JDK 14 support is added. Closing the issue now.

[2020-05-28 17:42] #183 closed

[2020-05-28 18:43] alexsm82 commented on #187
Fixed in #190.

[2020-05-28 18:43] #187 closed

[2020-06-01 17:09] leochr commented on #184
Delivered. Closing.

[2020-06-01 17:09] #184 closed

[2020-06-01 17:10] leochr commented on #185
Delivered. Closing.

[2020-06-01 17:10] #185 closed

[2020-06-01 17:21] leochr commented on #108
Delivered. Closing.

[2020-06-01 17:21] #108 closed

[2020-06-07 08:53] Warkdev opened #192 "Docker OpenLiberty on Raspberry-Pi"
Hello,

I've followed the following [article](https://openliberty.io/blog/2020/02/05/docker-open-liberty-raspberry-pi.html) but I couldn't make it work. At first, I got the error that `yum package does not exist` which is quite normal on Raspbian.

I've commented out yum lines as these packages are available by default on the system but I'm now having the following error:

![image](https://user-im

[2020-06-07 18:51] Warkdev commented on #192
Well well.. after digging into this, I came up with reworking few parts of the Dockerfile (I've used the file `Dockerfile.ubi.adoptopenjdk14` as source) and here is my final version although I couldn't get it working with `OPENJ9_SCC=true`:

`FROM arm32v7/adoptopenjdk:14-jre-hotspot
ARG LIBERTY_VERSION=20.0.0.6
ARG LIBERTY_SHA=083e89c2f96972df339a513582b338658e6562b3
ARG LIBERTY_BUILD_LABEL=cl2006

[2020-06-08 18:34] arthurdm commented on #174
looks like this issue has been resolved by the linked PRs.  If you still see an issue please feel free to open it.

[2020-06-08 18:34] #174 closed

[2020-06-08 18:53] NottyCode opened #193 "Make use of featureUtility for minimum sized kernel images"
20.0.0.6 introduces featureUtility to Liberty which enables you to start from a kernel image and on the command line add features. These features will be downloaded and installed from a maven repository.

We need to produce kernel images that take advantage of this. Some considerations:

1. The kernel feature currently has all features so this change could be a breaking change since someone updati

[2020-06-24 15:58] yeekangc commented on #193
@scottkurz @gkwan-ibm @ericglau

[2020-06-29 17:30] edavidj opened #194 "Investigate vulnerabilities of UBI Images"
Investigate the removal of `httpd, nginx, perl, python, ghostscript, php, pip` components and how that might help vulnerabilities in UBI images.

[2020-06-30 12:37] scottkurz commented on #193
Perhaps we should, along with this update **configure.sh** so that a Dockerfile depending on an existing tag like "kernel-java8-openj9-ubi" continues to work with this tag repurposed to provide a minimal kernel.

That is, allow a simple build like:

[code]
to continue to work even though the layering will be sub-optimal (with apps now layered in before features) ?

[2020-06-30 13:45] arthurdm commented on #193
I agree that would be the most reasonable approach @scottkurz - but I know there's a lot of users that still don't use `configure.sh`, so they would be broken.

We may rationalize that it's OK to do that in the version-less tags, and propagate that change going forward into the future versioned tags.

[2020-07-02 18:25] gkwan-ibm commented on #193
As I know, if users use zipkin for opentracing, server.xml have to specify the `<feature>usr:opentracingZipkin-0.31</feature>` and the user feature should be available at the usr directory.

Does/Will this feature support to install user feature? If not, what is the solution for this case?

cc @fmhwong, fyi

[2020-07-02 21:03] edavidj commented on #171
This still doesn't work for zLinux, closing until the experimental feature is more stable for multi-arch

[2020-07-02 21:03] #171 closed

[2020-07-07 19:38] NottyCode commented on #193
@gkwan-ibm support for user features is covered by [8986](https://github.com/OpenLiberty/open-liberty/issues/8986).

[2020-07-22 14:46] BarDweller opened #198 "yum fails via podman when using liberty ubi images"
This is an odd one, if I extend a liberty ubi image (I've tried various, but for sure, `openliberty/open-liberty:kernel-java8-openj9-ubi` ) and try to use yum to install additional packages, it fails if the build is using podman.

RedHat installs podman instead of docker on rhel, and it's not too simple to put docker back instead.

If I code a simple Dockerfile that just extends `adoptopenjdk/open

[2020-07-23 23:37] five-iron opened #199 "Question: What happened to ibmsfj-based images?"
The last openliberty version that was packaged with ibmsfj was [19.0.0.9](https://hub.docker.com/_/open-liberty?tab=tags&page=1&name=sfj). What was the reason for discontinuing this?

[2020-07-24 00:30] arthurdm commented on #199
hey @five-iron - we received a large amount of feedback that the IBM SFJ imagers based on UBI min did not have sufficient serviceability tools, and the lack of `yum` made it harder for migrating from RHEL.

[2020-07-24 00:49] five-iron commented on #199
Hey, thanks for the quick response.

Would there be any chance of bringing them back? Image size is very important on our team and the super-slim ibmsfj base images were critical for quick builds and deployments.

[2020-09-10 15:11] navidsh commented on #194
The packages listed in the description are all in the `ubi/ubi:8.2` image. We build our images on a daily basis and the images will pick up the updates in the UBI image. There's no need to remove any package.

[2020-09-10 15:11] #194 closed

[2020-09-10 19:42] arthurdm commented on #199
We are considering that option.  For your team, what is the Java layer that would be most helpful to pair with UBI min?  FOr example one option is AdoptOpenJDK 11 + OpenJ9.

[2020-09-16 11:33] DennisGruner opened #202 "Question: 20.0.0.9-kernel-java11 provided via DockerHub"
The last OpenLiberty Version on Dockerhub with java11 is 19.0.0.9-kernel-java11. I saw you have a Dockerfile with java11 and OL 20.0.09 ready. Why do you not publish this to DockerHub?

[2020-09-16 12:39] arthurdm commented on #202
hi @DennisGruner - they are available in this repo (using UBI images): https://hub.docker.com/r/openliberty/open-liberty/

[2020-09-16 12:40] DennisGruner commented on #202
Great Thx

[2020-09-16 12:40] #202 closed

[2020-09-23 14:06] jdmcclur opened #203 "New Java SCC causing problems."
I am seeing this new error in the openliberty/daily image. I assume this will hit the official images also soon. There is work to do getting the new java shared class cache working with ours. This causes a decent regression for startup time.

I see this option: -Xshareclasses:name=openj9_system_scc,cacheDir=/opt/java/.scc,readonly,nonFatal

I have already talked to @ymanton about this.
[code]

[2020-09-25 03:52] leochr commented on #203
@crpotter fyi, this issue should be addressed prior to the next release of images.

[2020-09-25 18:05] ymanton commented on #203
I've opened #204 to fix this. It assumes that we want to use the SCC in the OpenJ9 container as the base SCC layer and add OpenLiberty SCC layers on top. The IBM JDK does not (currently) ship with an SCC so for that case we'll maintain the old behaviour of building the OL SCC layers in the old `/output/.classCache` directory.

[2020-09-28 14:16] mpirvu commented on #203
FYI: currently the embedded SCC into the OpenJ9 containers has only root access (.scc directory too), so it may be usable for a container launched as a non-root user.
https://github.com/AdoptOpenJDK/openjdk-docker/pull/407 is supposed to fix that

[2020-09-28 14:19] jdmcclur commented on #203
i think Websphere Liberty OpenJ9 images will have this same issue: https://github.com/WASdev/ci.docker/blob/master/ga/latest/kernel/Dockerfile.ubi.adoptopenjdk8

[2020-09-28 18:56] jdmcclur commented on #203
@ymanton It did not work for me. It did build differently, but still see.
JVMSHRC226E Error opening shared class cache file
JVMSHRC336E Port layer error code = -102
JVMSHRC337E Platform error message: Permission denied
JVMSHRC840E Failed to start up the shared cache.
JVMSHRC686I Failed to startup shared class cache. Continue without using it as -Xshareclasses:nonfatal is specified

If I go to /opt

[2020-09-28 21:28] mpirvu commented on #203
It did work for me with the command: `docker build -f Dockerfile.ubi.adoptopenjdk8 -t myopenliberty .`
I see AOT loads happening and going inside the container the permissions are:
[code]
[code]
It does help that the current user belongs to 'root' group

[2020-09-28 21:33] mpirvu commented on #203
Note that there are 5 dockerfiles under `releases/latest/kernel`:
[code]
The first 3 are based on the non-official OpenJ9 image from adoptopenjdk and they have the embedded scc.
`Dockerfile.ubi.ibmjava8` is based on `ibmjava:8-ubi` image which does not even exist.
`Dockerfile.ubuntu.adoptopenjdk8` is based on the official OpenJ9 image from adoptopenjdk and does not include the embedded SDK.

[2020-09-28 21:35] mpirvu commented on #203
Some news: permission for the .scc directory have been fixed at adoptopenjdk (https://github.com/AdoptOpenJDK/openjdk-docker/pull/407) and we should expect a new image probably tomorrow.

[2020-09-29 18:30] leochr commented on #193
@NottyCode We are planning to introduce a new tag to avoid breaking existing users who use the `kernel` tag. We are thinking to name the new tag `kernel-min`. Another suggestion was `kernel-core` but we were worried if the term _core_ could confuse users in terms of Liberty licensing. Please let us know your thoughts including any other naming suggestions. Thank you.

[2020-09-29 18:55] yeekangc commented on #193
So, IIUC, we will have `kernel` and then a `kernel-min`?  `kernel-min` will be new and specific to our Docker images, right?  There is no notion of a minimal kernel on the runtime side?

[2020-09-29 20:37] leochr commented on #193
@yeekangc That's right. Only specific to Docker images.

Naming is always hard. Hence, we request feedback from everyone on the new name `kernel-min` and/or suggestions for better alternatives.

[2020-09-29 20:57] NottyCode commented on #193
kernel-min could also be confusing with ubi-min vs ubi. I agree that kernel-core is totally out of the question.

[2020-10-06 00:23] #203 closed

[2020-10-06 16:26] Emily-Jiang opened #205 "Add java11 docker image"
We have java11 UBI docker image https://hub.docker.com/r/openliberty/open-liberty
However, https://hub.docker.com/_/open-liberty only have java8 images not having java11 docker images.
Please provide docker image for openj9 Java11. In this case, the two sites provide the equivalent docker images.

[2020-10-07 05:37] ewoudwerkman commented on #193
`kernel-base`?

[2020-10-07 19:03] leochr commented on #193
Thank you @ewoudwerkman for the suggestion. `base` is also used for Liberty licensing, similar to `core`, hence could cause confusion.

[2020-10-08 01:44] arthurdm commented on #193
hey @leochr - looks like we have the following tags for the version-less `kernel`:

[code]

Then we have the versioned variants for them which add a prefix such as `20.0.0.9-`, etc.  So I am thinking maybe we just switch to a model where we prefix the version-less tags with `latest`, for example:

[code]

This way, since they are new tags, we can use the `real` kernel - without breaking any existi

[2020-10-08 06:56] ewoudwerkman commented on #193
Naming is indeed hard ;-)
`kernel-slim`? 'slim' on docker image tags usually refer to a version where stuff has left out, while trying to get a minimal image.

[2020-10-14 14:47] leochr opened #207 "Add ubi-min based images"
Add `ubi-min` based images for kernel-slim and full. Use the Semeru JRE image (as opposed to JDK) as the base.

[2020-10-14 14:58] leochr opened #208 "UBI images are incorrectly tagged as ubi-min"
The following images are incorrectly tagged as `ubi-min`, but they are based on ubi

https://hub.docker.com/r/openliberty/open-liberty/tags?page=1&name=kernel-ubi-min

Especially `kernel-ubi-min` was updated on October 13, 2020. Others are old and haven't been updated lately (that's good).

We should stop updating this tag. When `ubi-min` based images are added by #207, we'll have a new tag called

[2020-10-14 18:58] arthurdm commented on #208
I believe @arturdzm found the spot in the code where this is happening.   Artur - can you please take a look into this one?

[2020-11-05 13:05] dannemano opened #212 "Clarification how images are being released."
Open Liberty´s documentation is solid, but it is somewhat lacking in the Docker image area.

For instance, when a new version is released (and a blog post published) and available to download from https://openliberty.io/downloads/#docker it can take weeks for the corresponding Docker image to become available.

If a new release is available for download, I assume automatic builds would produce a n

[2020-11-09 15:18] leochr opened #213 "Address comments from Docker Hub review"
https://github.com/docker-library/official-images/pull/8993#issuecomment-723331998

[2020-11-09 18:23] leochr opened #214 "Improve the release process for images"
Improve the release process for Open Liberty images to better align with the release of Open Liberty runtime.

One suggestion is to have the UBI images pre-built with the GM driver in artifactory, and then push to Docker Hub from there - given that many times Whitewater Travis fails for various reasons.

Understand that the ubuntu images have to follow the Docker Hub release process and are gated

[2020-11-09 18:43] leochr commented on #212
@dannemano Thank you for opening this issue and for your feedback.

We are looking to improve the release process to reduce the time between the availability of Open Liberty (OL) runtime and images. Opened this issue to track one of the improvement: https://github.com/OpenLiberty/ci.docker/issues/214

Agree that documentation can be improved. We'll add information about Java versions in this repo.

[2020-11-09 19:09] leochr commented on #214
@crpotter It'll be good to have this in place for the upcoming 20.0.0.12 release. Could you please look into it? Thank you.

[2020-11-09 19:14] leochr opened #215 "Add information about java versions and update image flavours details"
- [ ] Add information about the Java versions for UBI and Ubuntu images
- [ ] Update the information about flavours/tags: full, kernel-slim, kernel (deprecated)

[2020-11-10 08:04] dannemano commented on #212
Thanks for the explanation around OL and building the Docker images.
I am really happy with Open Liberty and how the Docker images are constructed, it works great!

[2020-11-10 14:30] yeekangc commented on #193
@leochr, can you please update and indicate what are we going (in terms of the name) with and doing with this issue?

[2020-11-10 14:35] yeekangc commented on #193
Btw, is this a feature?  If so, can I have a pointer to the UFO?

[2020-11-10 16:20] leochr commented on #193
@yeekangc Based on the feedback from folks, we picked `kernel-slim`. The 20.0.0.11 images with the new tag are in Docker Hub now.

This is the feature for OL runtime I believe, it has a link to UFO: https://github.com/OpenLiberty/open-liberty/issues/9227

[2020-11-10 16:20] leochr commented on #193
Delivered. Closing.

[2020-11-10 16:20] #193 closed

[2020-11-10 18:48] ericglau commented on #193
The following issue is needed for dev mode for containers to support the `kernel-slim` image: https://github.com/OpenLiberty/ci.maven/issues/811

[2020-11-10 19:32] yeekangc commented on #193
Thanks, @leochr.  This is a separate issue in the backlog so I thought it would be a separate feature (covering what is needed to get to minimally-sized kernel container images).  Double checked and https://github.com/OpenLiberty/open-liberty/issues/9227 didn't seem to cover what is needed for container images.

In any case, we will work with 'kernel-slim' for what is needed and go from there.

[2020-11-10 21:33] yeekangc opened #216 "Improve open-liberty and openliberty/open-liberty pages"
https://hub.docker.com/_/open-liberty is the "Docker Official Images" page for Open Liberty and shows the Ubuntu-based images for Open Liberty while https://hub.docker.com/r/openliberty/open-liberty lists the UBI-based images.

If users aren't familiar, didn't read the details or miss them, users can easily miss what's available, where to find them and what Open Liberty has to offer.

Great if as

[2020-11-12 21:55] leochr opened #218 "Error with IBM Java based images"
Encountered the following issue when trying to run Open Liberty images built on IBM Java:

[code]

[2020-11-12 21:59] leochr commented on #218
@ymanton @mpirvu I believe there was a similar issue with OpenJDK last month and was addressed. Is this a similar/known issue with IBM Java?

[2020-11-12 22:48] mpirvu commented on #218
The message looks different. Are you sure that there is indeed free space on that machine.
I'll test it on my end as well

[2020-11-12 23:00] leochr commented on #218
@mpirvu Tried on a different machine and didn't encounter the error. The server started fine. Cleared the images and tried on the failing machine and don't see the issue anymore. Sorry for the false alarm. Thank you.

[2020-11-12 23:05] #218 closed

[2020-11-16 16:37] leochr opened #219 "Create images for OL beta"
Add support for OL beta by creating the following tags:
- `beta` (Ubuntu + AdoptOpenJDK 8 OpenJ9)
- `beta-java11` (Ubuntu + AdoptOpenJDK 11 OpenJ9)

Related to: https://github.com/OpenLiberty/open-liberty/issues/12223

[2020-11-17 13:14] verymahler opened #220 "Provide JDK 15 images"
Only JDK 8, 11 and 14 images are provided. JDK 15 is the latest.

The JDK 14 image tags could be replaced with JDK 15, using `adoptopenjdk/openjdk15-openj9` as the base.
This can apply from the versions of OpenLiberty that support JDK15 and latest tags.

Related to issue https://github.com/OpenLiberty/ci.docker/issues/183

[2020-11-17 21:03] arthurdm commented on #220
thanks for opening this @verymahler!

@leochr - this is related to our chat about supported JDK tags.  Seems reasonable to make the switch from 14 to 15 now.

[2020-11-19 00:01] leochr commented on #220
Open Liberty 20.0.0.12 will add Java 15 support. Created PR #222 to switch from Java 14 to 15 - only the `latest`

FYI @crpotter java version changes to upcoming release - for consideration in build

[2020-11-19 16:53] leochr commented on #213
There is a way to do _chmod_ while copying. Besides the `COPY` commands in question only add 28kB of data, while the image is 571MB, so not a significant portion.

[2020-11-19 16:53] #213 closed

[2020-11-25 15:17] verymahler commented on #220
This has been fixed with `openliberty/open-liberty:kernel-slim-java15-openj9-ubi`

[2020-11-25 15:17] #220 closed

[2020-11-25 20:42] leochr commented on #219
Delivered. Beta tags are now available in Docker Hub.

[2020-11-25 20:42] #219 closed

[2020-11-26 21:56] leochr commented on #207
Some investigation is needed to evaluate whether UBI-min based images would significantly reduce the size of Liberty images. Build ubi-min based image for kernel-slim tag (with OpenJ9 Java 8) and compare to relevant ubi based image

[2020-11-27 10:02] tevans78 opened #229 "beta version number is incorrect"
https://github.com/OpenLiberty/ci.docker/blob/51ff2606fcecbcb70c35fd69f3adcb214eb34c7b/releases/latest/beta/Dockerfile.ubuntu.adoptopenjdk8#L2

and

https://github.com/OpenLiberty/ci.docker/blob/51ff2606fcecbcb70c35fd69f3adcb214eb34c7b/releases/latest/beta/Dockerfile.ubuntu.adoptopenjdk11#L2

version should be `21.0.0.1-beta`

[2020-11-27 15:58] leochr commented on #205
@Emily-Jiang Open Liberty images based on OpenJ9 Java 11 have been added for Ubuntu OS. For example, _full-java11-openj9_. Full list is [here](https://hub.docker.com/_/open-liberty?tab=tags&page=1&ordering=last_updated&name=java11-openj9).

[2020-11-27 15:58] #205 closed

[2020-11-27 19:18] arthurdm commented on #216
I've updated the UBI repos to better cross link with the Ubuntu repo (with a bold **Note** in the description)
* https://hub.docker.com/r/openliberty/open-liberty
* https://hub.docker.com/r/ibmcom/websphere-liberty

For the Ubuntu repos, this PR was opened to enhance the cross linking: https://github.com/docker-library/docs/pull/1841

[2020-11-27 19:19] arthurdm commented on #216
Each GitHub repo also a paragraph at the very beginning of their `readme` which link to all of the available images:
* https://github.com/wasdev/ci.docker#container-images
* https://github.com/openliberty/ci.docker#container-images

[2020-12-09 15:24] idlewis commented on #229
Should be fixed by #230

[2020-12-10 13:54] scottkurz opened #231 "Slow execution of features.sh, during docker build"
In doing a docker build (from Win10) with

[code]
and **server.xml** feature set
[code]

it takes 5 min. to execute the **features.sh** step, on a fairly slow internet connection.

## COMPARISONS

1. If I take the same project outside of the docker build and do a native/host execution of the command run in **features.sh**:

`time featureUtility installServerFeatures --acceptLicense defaultServer -

[2020-12-10 14:02] NottyCode commented on #231
If we were to put a cache of the features into kernel-slim then we haven't saved any space in the base image which was the purpose of doing a kernel-slim in the first place. We might as well just go back to having every feature already pre-installed.

[2020-12-14 17:40] leochr opened #233 "Review chmod/chown operations to identify opportunities to reduce image size"
Dockerfiles and build/runtime scripts (i.e. configure.sh, features.sh, etc) and perform various chmod and chown operations. These operations increase the size of the image (when performed on a separate instruction than the one that created/copied/extracted those files). Review the instances of these operations to evaluate whether it's necessary and/or if the instruction can be optimized to reduce

[2020-12-14 17:42] leochr commented on #233
fyi @idlewis @yongja79

[2020-12-14 20:11] yeekangc commented on #231
@ericglau

[2020-12-28 16:43] mpirvu opened #234 "Shared class cache embedded in the container is not used"
I experimented with latest versions of `openliberty/open-liberty:20.0.0.12-kernel-slim-java8-openj9-ubi` and `openliberty/open-liberty:20.0.0.12-full-java8-openj9-ubi` and saw an increased startup time.
Upon further inspection it turns out that Liberty is trying to use a shared class cache (SCC) from `/opt/ol/wlp/output/.classCache` directory which does not exist (it will be created and populated

[2020-12-28 16:44] mpirvu commented on #234
javacore shows the following arguments:
[code]
Note the multiple definition of the -Xshareclasses command line option

@ymanton @jdmcclur

[2021-01-04 14:31] jdmcclur commented on #234
If there is no shareclasses defined anywhere our server script will use the old location, so we'll need to define it if it's not defined. I'll take a look later today.

[2021-01-04 21:26] jdmcclur commented on #234
The Ubuntu images look ok
[code]

The UBI images do not, The shareclasses has been moved to JAVA_TOOL_OPTIONS.
[code]

So, do we fix the server script to look at JAVA_TOOL_OPTIONS also, or specifically set OPENJ9_JAVA_OPTIONS.

Ugh, wonder if this affects all the utility scripts also.

[2021-01-05 19:38] jcamu opened #236 "OS new vulnerability - CVE-2020-1971"
Hello,

By scanning a liberty image created with a dockerFile based on open-liberty:20.0.0.12-kernel-slim-java11-openj9 , the scanning solution (anchore engine) find new 'High vulnerability'.

HIGH Vulnerability found in os package type (dpkg) - libssl1.1
HIGH Vulnerability found in os package type (dpkg) - openssl

https://ubuntu.com/security/CVE-2020-1971

These vulnerability seems to be new.

H

[2021-01-05 20:27] arthurdm commented on #236
hi @jcamu - those are coming from the Ubuntu layer, so as soon as that image is updated our Open Liberty image will be automatically rebuilt.

[2021-01-06 09:55] jcamu commented on #236
Hi.
Thanks for your response.
So for now, i just have to wait for this update.

Did i close this issue or wait for the rebuilt?

[2021-01-07 12:07] veenarm commented on #234
Is this only an issue with 20.0.0.12?
I'm running: openliberty/open-liberty:20.0.0.10-full-java8-openj9-ubi

coredump
2CIUSERARG               -Xshareclasses:name=liberty,nonfatal,cacheDir=/output/.classCache/
2CIUSERARG               -Xshareclasses:name=liberty,nonfatal,cacheDir=/output/.classCache/
2CIENVVAR      OPENJ9_JAVA_OPTIONS=-Xshareclasses:name=liberty,nonfatal,cacheDir=/output/.classCac

[2021-01-07 15:00] mpirvu commented on #234
"openliberty/open-liberty:20.0.0.10-full-java8-openj9-ubi" does not have the issue.

[2021-01-08 15:27] jdmcclur commented on #234
Adding this near the end of Dockerfile for the ubi builds seems to work fine, but I know we do some work to make sure the scc exists/permissions are ok in populate_scc.sh, so not sure at the guarantee of this being correct.
[code]

We could also update the server script to not specifiy a SCC if it finds one on JAVA_TOOL_OPTIONS, but that could take awhile to get in a liberty build.

Thoughts? @yma

[2021-01-11 14:36] leochr commented on #208
Addressed as part of 20.0.0.12 updates. Closing.

[2021-01-11 14:36] #208 closed

[2021-01-11 14:38] leochr commented on #229
Fixed. Closing.

[2021-01-11 14:38] #229 closed

[2021-01-11 17:02] ymanton commented on #234
Setting `ENV OPENJ9_JAVA_OPTIONS=-Xshareclasses:name=openj9_system_scc,cacheDir=/opt/java/.scc,readonly,nonFatal` in the Liberty containers is fine and should work.

What exactly do the OpenJ9 image authors want to happen with downstream images? Do they want to specify a default set of options or do they want downstream images to get a blank slate? Why do Ubuntu images still set `OPENJ9_JAVA_OPTIO

[2021-01-11 17:30] mpirvu commented on #234
The goal with moving the SCC options from OPENJ9_JAVA_OPTIONS to JAVA_TOOL_OPTIONS was to allow users to specify other JVM options (through OPENJ9_JAVA_OPTIONS) without rendering the embedded SCC useless. Without this change a user that wants to set, say `OPENJ9_JAVA_OPTIONS=-XX:UseJITServer` would have to know about the internals of the OpenJ9 image and set `OPENJ9_JAVA_OPTIONS="-Xshareclasses:na

[2021-01-11 17:30] jdmcclur commented on #234
@ymanton - it looks like Ubuntu images actually do not set OPENJ9_JAVA_OPTIONS anymore, but that change hasn't made it to an image yet?
https://github.com/AdoptOpenJDK/openjdk-docker/commit/50d5f52aab8eb8ed0f309d579b33c68bd4f87648#diff-048a3c3c047719623540fac4a6dc3eb696af4a800ed1ab1d8cdc4ffb870dbbe2

[2021-01-13 03:08] ymanton commented on #234
I've opened #238 to deal with this by setting OPENJ9_JAVA_OPTIONS to the same string as JAVA_TOOL_OPTIONS. Ideally it would be better to set it by reading JAVA_TOOL_OPTIONS, but since not all of the images have the change yet I had to use the hardcoded string instead.

[2021-01-13 15:15] endonym opened #240 "Docker Image update"
using

`docker pull open-liberty`

with an Apple M1 chip results in a message of;

`no matching manifest for linux/arm64/v8 in the manifest list entries`

[2021-01-13 15:16] endonym opened #241 "Docker Image for Apple M1 Chip"
using

`docker pull open-liberty`

with an Apple M1 chip results in a message of;

`no matching manifest for linux/arm64/v8 in the manifest list entries`

[2021-01-14 14:43] arthurdm commented on #240
closing as dup of #241

[2021-01-14 14:43] #240 closed

[2021-01-14 14:44] endonym commented on #240
Sorry - I have no idea why it was raised twice.

[2021-01-25 19:13] #234 closed

[2021-02-11 21:20] jwalcorn opened #244 "Server uses stale cached server.xml rather than the one copied into the image"
Sometimes when I docker build my Open Liberty-based microservice, it ends up not working, because it ignores the server.xml I copy into the image, and instead somehow still uses the built-in server.xml from the base OL image.  When this happens, when I run my image (whether in OpenShift, or just via "docker run"), it doesn't load any of my listed features, but instead just loads `jsp-2.3`.  My Doc

[2021-02-11 21:21] jwalcorn commented on #244
Discussed this with some of the Liberty Docker team at https://ibm-cloud.slack.com/archives/C32494NQ6/p1613010638074200.  One thing pointed out was that I do an include of another XML file from my server.xml, and use an environment variable in the path of what to include, so it's possible I'm hitting something related to https://github.com/OpenLiberty/open-liberty/issues/15698.

[2021-02-11 21:31] jwalcorn commented on #244
My latest theory is that it's related to the timestamp on the server.xml.  If I `docker run -it us.icr.io/ibm-stock-trader/broker:error bash` then do a `./server.sh run defaultServer`, the problem happens.  But the timestamp on my server.xml (as shown via `ls -l /config/server.xml`) is December 9th.  Whereas the built-in server.xml for 21.0.0.1 is from January.  Though it shouldn't be this way, it

[2021-02-11 22:38] jwalcorn commented on #231
I can confirm I see this too.  My internet connection speed must be worse than the OP, because it's not uncommon for it to take 10 minutes or more on this step.  At this point, I think the "full" image should be used during iterative dev, and only use the kernel-slim image for production, since it makes it take way too long to test a one-line fix.  It also makes the `docker push` you do afterwards

[2021-02-12 03:48] jwalcorn commented on #244
![image](https://user-images.githubusercontent.com/28963246/107728092-baddab00-6cb2-11eb-9488-bc9204aed7e2.png)

[2021-02-12 15:51] brenthdaniel commented on #244
I think the timestamp is probably the culprit. The server makes the determination on whether to use the cached config by looking at the latest timestamp on a configuration file and checking it against the cached config timestamp. This would work fine with older server.xml files if it were only server.xml involved (it's a "not equal" check, not a "later than" check), but would not work if any of th

[2021-02-12 17:02] jwalcorn commented on #244
OK, given that, should something change in Liberty to address this, or should I update my sample to demonstrate the use of `RUN touch /config/server.xml` in the Dockerfile to work around this?

[2021-02-12 17:06] jwalcorn commented on #244
I suppose one thing Liberty could do is to itself, when constructing the Docker image, `touch` the built-in server.xml to have a date of like 2000-01-01 or something.

[2021-02-12 19:49] jwalcorn commented on #244
I pushed the broken image to DockerHub, so just `docker run ibmstocktrader/broker:error` to see it happen.  I then pushed a working one (rebuilt after doing a `touch` of the server.xml) there too with the `latest` tag, for comparison.

[2021-02-12 21:38] scottkurz commented on #244
The fact that the  **/config/configDropins/defaults/open-default-port.xml** timestamp seems to always match the config cache timestamp (which looks like it must be this file:  **/output/workarea/org.eclipse.osgi/9/data/configStamp** means that I think means you can recreate this with just a bunch of old configs.

I can recreate it consistently by doing:
[code]
and doing the docker build.

But if I

[2021-02-17 17:02] jwalcorn commented on #244
Just checking back in here.  Should I add `RUN touch /config/server.xml` to my Dockerfile, or is Liberty planning to do something (perhaps in `features.sh` or `configure.sh`?) to address this?  Having a server that won't start unless its built-in config is older than the config you are copying in means anyone just moving up to a newer base image (like to get a security vulnerability fix) will be l

[2021-02-18 18:20] scottkurz commented on #244
@leochr  do you have an opinion on this?

From @brenthdaniel's comments about the config timestamp I wonder if one option would be to delete the config timestamp built into workarea in these lines:   https://github.com/OpenLiberty/ci.docker/blob/e5c98ce3c4e730e42aac7fc23efbf30bb6a56517/releases/latest/kernel-slim/Dockerfile.ubi.adoptopenjdk11#L83-L85

(or maybe even delete the whole **workarea**)?

[2021-02-19 16:24] jdmcclur commented on #244
I don't fully understand what is going on here, but I think you would want to remove the timestamp/workarea before running populate_scc.sh. Does that work? If not, liberty is going to have to build the workarea on the next start, so it will be slower every start in a container. populate_scc.sh populates the SCC by starting/stopping the server, which also caches the workarea.

Two things majorly im

[2021-02-19 17:21] scottkurz commented on #244
\

I'm not familiar with all this.. but the thing I didn't realize until now is we run a populate_scc.sh when building the OL base image .. not just when building the app image.   It's the cleanup after the former that I tried fixing in #246, which seems to get past the immediate problem.    I'm not really knowledgeable enough to be sure I didn't break something else though.

[2021-02-19 17:33] ymanton commented on #244
As far as I know, the SCC will cache classes from wherever the application decides to load them, as long as they're loaded by the bootstrap classloader, application classloader, `java.net.URLClassLoader` or a subclass of it, or a custom classloader that uses the Java Helper API that ships with OpenJ9 and IBM JDK.

If JARs and classes are loaded from the workarea they will be cached in the SCC. Del

[2021-02-19 17:44] jdmcclur commented on #244
Scott, ah yes, that should work. Starting the base image will be slower, but that is pointless anyway. I can measure to see if there is a big difference in the end result.

[2021-03-01 21:30] #244 closed

[2021-03-01 21:48] leochr commented on #244
@scottkurz do you know whether WL's kernel images would have the same issue?

[2021-03-02 16:41] jwalcorn commented on #244
Any news on this?  Like is this targeted for 21.0.0.3?  For now I'm doing the workaround of adding `RUN touch /config/server.xml` to my Dockerfile, but I'd rather not show such hacks in my public samples if it can be avoided.

[2021-03-02 16:44] jwalcorn commented on #244
Oh, I see now this got fixed under another issue.  Fine.  Looking forward to getting a build with the fix.  Thanks!

[2021-03-11 13:25] veenarm opened #250 "OpenShift ConfigMap - settings.xml file replacement breaks completely"
Container: X - Crash loop back off
/opt/ol/helpers/runtime/docker-server.sh: line 55: /config/configDropins/defaults/keystore.xml: No such file or director

Whenever i try to do a file mapping of server.xml -> /config/server.xml the container juist crashes and wont get past this line and advises no file for keystore (which I know is incorrect).

When I remove the configmap overwrite it works fine,

[2021-03-11 14:41] arthurdm commented on #250
hey @veenarm - I wonder if your mapping is completely overriding the container's `/config` directory.    Have you tried doing an `oc exec` on the container to verify its contents?

[2021-03-11 23:08] veenarm commented on #250
I'm sorry, it was getting very late and tiredness set in...
It was in fact over mounting the entire /config directory, I've resolved it by doing a few explicit mappings instead.

[2021-03-11 23:08] #250 closed

[2021-03-22 11:08] #236 closed

[2021-04-04 22:55] dougbreaux commented on #207
I came looking for this because cloud security best practices say to use the smallest image you can. And the Ubuntu images are smaller than the UBI ones.

[2021-04-12 23:04] corporate-gadfly opened #255 "support for hazelcast 4.x in <httpSessionCache /> element"
Please specify if hazelcast 4.x is supported in sessionCache-1.0 feature in liberty and what is the minimum config required?

Thanks in advance.

[2021-04-13 00:51] corporate-gadfly commented on #255
This issue can be closed. Might help someone else in the future, however.

In `server.xml`, in the `<featureManager/>` section, I needed:
[code]
Also needed, was the following snippet:
[code]
And, finally, in `jvm.options`, I specified the required properties:
[code]
The last line was the **most important** piece.

If there is any other way to specify the properties, I would be glad to hear. I tri

[2021-04-13 00:51] #255 closed

[2021-04-19 20:41] dougbreaux opened #258 "Update either documentation or configuration for current Infinispan defaults"
Some details in [my StackOverflow Q&A](https://stackoverflow.com/questions/67060215/infinispan-red-hat-data-grid-in-openshift-with-websphere-liberty), but it appears the current Infinispan instructions either don't account for or don't warn about the default cluster setup, which wants TLS communication.

I had to explicitly create a new cluster with
[code]
or both the client and server complained

[2021-04-26 13:18] NickWemekamp opened #260 "Open liberty full docker image does not contain Microprofile specifications"
When I run `docker run open-liberty:21.0.0.4-full-java8-openj9` on my machine I see that open liberty has installed the following features:

`[appClientSupport-1.0, appSecurity-2.0, appSecurity-3.0, batch-1.0, beanValidation-2.0, cdi-2.0, concurrent-1.0, distributedMap-1.0, ejb-3.2, ejbHome-3.2, ejbLite-3.2, ejbPersistentTimer-3.2, ejbRemote-3.2, el-3.0, j2eeManagement-1.1, jacc-1.5, jaspic-1.1, j

[2021-04-27 20:24] jdmcclur commented on #260
Yes, this is expected behavior.

The Microprofile features are actually in the image, but they are not enabled by default.

The full image has the following in its server.xml by default, which does not include the MicroProfile features.
[code]

Best practice is to supply your own server.xml, so if you change to these features and build a layer on top, they will be enabled.

[code]

Example Dockerf

[2021-04-28 08:24] NickWemekamp commented on #260
Thanks! This clarifies it a lot.

[2021-05-13 21:39] #260 closed

[2021-05-13 21:40] jdmcclur commented on #231
This is being addressed here: https://github.com/OpenLiberty/open-liberty/issues/16700

[2021-05-18 18:38] leochr opened #264 "Add support for Java 16"
Open Liberty now supports Java 16. We should add images with Java 16

[2021-05-20 18:40] jdmcclur opened #265 "Reduce overall container size of our ubi images by basing them on ubi-jre."
I mentioned this on an an issue for ubi-min, but think this deserves its own issue.

We should look into basing our images on ubi-jre instead of ubi.
Example: adoptopenjdk/openjdk8-openj9:ubi-jre vs adoptopenjdk/openjdk8-openj9:ubi

I think ubi-jre only packages the jre instead of the whole jdk.

For our ubuntu images we use jre images, so I would think we would want to do the same for ubi?
The di

[2021-05-20 19:36] jdmcclur commented on #265
Best case is using ubi-minimal-jre, but then yum (and maybe other things) do not work. I did switch to microdnf and things seemed to build fine.

adoptopenjdk/openjdk8-openj9  ubi-minimal-jre 271MB

[2021-05-20 21:39] vijaysun-omr commented on #265
@leochr fyi for your thoughts when you have time

[2021-05-28 17:42] leochr commented on #265
That is a significant difference in size. We'll definitely use the jre images when adding ubi-min support. As for existing ubi images, not sure if customers actually rely on the jdk (or why jdk images were chosen, perhaps jre images were not available at that time). Now that UBI images are available in Docker Hub, we'll be looking to move the ubi images into the official repo (where Ubuntu images

[2021-07-13 21:09] l3ender opened #268 "Runtime container command as root"
I am trying to create a "debug" version of the OpenLiberty container to facilitate various troubleshooting. One of the items is to enable SSH and then run it at startup so the container can be remotely accessed. However, I'm running into permission problems with the Liberty user (uid `1001`) and am wondering if someone can assist.

My Dockerfile has the following.

[code]

The `debug.sh` script ha

[2021-07-20 22:36] l3ender commented on #268
While I'm unsure if it's the best approach, my solution is to install/configure `sudo` so the default user can start the service:

[code]

Then the `debug.sh` script uses `sudo`:
[code]

I'd appreciate any additional input/advise. Thanks!

[2021-07-20 22:53] l3ender commented on #265
This would be great! We currently use Ubuntu rather than UBI due to the significant reduction in size.

[2021-08-02 22:17] l3ender commented on #268
Here's the equivalent for the UBI-based image. Since [openssh-server is not available for UBI](https://bugzilla.redhat.com/show_bug.cgi?id=1750907), it needs to be manually downloaded [from Red Hat](https://access.redhat.com/downloads), copied into the container, and installed. SSH keys must also be generated.

[code]

And the script:
[code]

[2021-08-09 20:13] jdmcclur commented on #233
Can this be closed?

[2021-08-09 20:14] jdmcclur commented on #231
@scottkurz , changes went into 21.0.0.8 to make this faster. Can you try this again?

[2021-08-09 21:49] scottkurz commented on #231
Hi @jdmcclur ... seems to have helped.. On my win10 laptop, I ran three runs with each of 21.0.0.7 and 21.0.0.8 with a two-stage build, and manually used a stop watch. I captured the before & after along with features.sh and averaged them out

|                                 	| 08 run 1 	| 08 run 2 	| 08 run 3 	| 07 run 1 	| 07 run 2 	| 07 run 3 	|
|---------------------------------	|----------

[2021-08-09 21:52] scottkurz commented on #231
I'm encouraged here.. I think about 45 seconds is quick enough to keep me from getting tempted to get distracted and start doing something else :)    Though it still might be valid to make the tradeoff and prefer the full image in certain cases.

[2021-08-09 22:12] leochr commented on #233
Yes, already address. Thanks

[2021-08-09 22:12] #233 closed

[2021-09-04 08:27] camilamacedo86 opened #274 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-07 09:48] pugmas opened #275 "Images for 21.0.0.9 are not available"
Possible cause:
`/bin/sh: 1: populate_scc.sh: Permission denied`

at:
https://app.travis-ci.com/github/OpenLiberty/ci.docker/jobs/535524267
and:
https://app.travis-ci.com/github/OpenLiberty/ci.docker/jobs/535524268

**EDIT:**
This has already been fixed. I am sorry.
https://app.travis-ci.com/github/OpenLiberty/ci.docker/builds/236919543

But there are still no images on docker hub.

[2021-09-10 10:46] schowave commented on #275
When will the 21.0.0.9 docker image be published to docker hub?

[2021-09-20 06:14] pugmas commented on #275
Available now. Thanks!

[2021-09-20 06:14] #275 closed

[2021-10-04 20:16] schowave opened #277 "Java 17 (LTS) Support for OpenLiberty 21.0.0.10"
As of now Java 17 is released and there is official OpenLiberty Support for OpenLiberty 21.0.0.10 (https://openliberty.io/blog/2021/10/01/java17-210010.html), it would be great to use a dockerized OpenLiberty 21.0.0.10 with Java 17!

[2021-10-13 10:30] verymahler commented on #277
This might be used as a reference https://github.com/OpenLiberty/ci.docker/pull/222 for the necessary changes.

[2021-10-15 21:30] #274 closed

[2021-10-30 01:36] arthurdm commented on #207
There is also now `ubi-micro`.  I've asked [here](https://github.com/ibmruntimes/Semeru-Runtimes/issues/8) for plans to support it.

[2021-11-01 15:42] verymahler commented on #264
Maybe a good idea to directly move to Java 17 https://github.com/OpenLiberty/ci.docker/issues/277

[2021-11-04 15:43] leochr opened #284 "Allow alternate server name"
The Liberty base images provide a server with `defaultServer`. Explore the option to make it configurable.

[2021-11-05 04:25] leochr commented on #264
Agree. Closing in favour of #277

[2021-11-05 04:25] #264 closed

[2021-11-05 15:54] vijaysun-omr commented on #265
@leochr is the change to use jre planned, and if so, what is the outlook ?

[2021-11-05 21:24] leochr commented on #265
@vijaysun-omr As customers could rely on the jdk in existing Liberty images, we are planning to create new UBI-based images (ubi-min or ubi-micro) with jre. Some prototype work is expected to start in 4Q. Given other priorities with operators, this would be a late 1Q deliverable.

[2021-11-19 18:31] jwalcorn commented on #241
Any news on support for MacBook Pros with M1 chips?  at least for non-production cases?  I think unit testing your code locally (via `docker run`), then pushing Intel-based images to your container registry for use in your Kube of choice, would be a pretty common use case, especially now that lots of older MacBooks are getting replaced with M1s.  Though I don't have one yet, a colleague on our Clo

[2021-11-23 09:59] mlflr commented on #241
@jwalcorn Since the base Semeru images (at least the Ubuntu ones) are already published with arm64 versions you can just use the build scripts from this repo to build your own arm64 image of OpenLiberty. I think that's much better workaround than what you are doing.

[2021-11-24 10:34] bogdanmuresan opened #286 "Missing features in the docker image randomly after every other build"
Hello,

Every other build or 2 builds, we end up with a broken image, that has missing features.
This seems to have started after updating to 21.0.0.10-kernel-slim-java11-openj9

The Dockerfile is something like this (simplified version):
[code]

We build the image using Jenkins. Sometimes (every 2 builds or so), the resulting image has missing features.

[code]

Pulling the broken image locally a

[2021-12-03 19:36] jwalcorn commented on #286
Are you doing a “RUN features.sh” in your Dockerfile?  That’s needed with kernel-slim images (not needed with full images)

[2021-12-05 10:54] bogdanmuresan commented on #286
Yes (it's also added in the initial post). The problem is, that sometimes, this step seems to fail (or does not complete),  without error.

[2021-12-13 23:45] five-iron commented on #277
Java 17 based images of IBM Semuru are [now available](https://hub.docker.com/_/ibm-semeru-runtimes?tab=description), but only for Ubuntu and CentOS. There are no UBI based java 17 images in the official or [unofficial repos](https://hub.docker.com/u/ibmsemeruruntime). What will be done here in response, just build new Ubuntu images only?

[2021-12-16 16:12] leochr commented on #277
Java team is working on the UBI images for Java 17. Once that is available, we'll add Liberty images based on Java 17 for both UBI and Ubuntu. We expect them to be available by the end of January 2022.

[2022-01-02 08:03] t1 commented on #241
The official images already are available for multiple architectures, so adding `arm64` should be trivial, shouldn't it?

[2022-01-03 09:38] verymahler commented on #277
@leochr The Red Hat UBI images for Java 17 (IBM Semeru Runtime) seem to be available
https://catalog.redhat.com/software/containers/search?q=semeru%2017&p=1

[2022-01-24 09:32] reindan commented on #277
The UBI images are available directly from IBM Cloud Container Registry:

icr.io/appcafe/ibm-semeru-runtimes:open-17-jdk-ubi-amd64
icr.io/appcafe/ibm-semeru-runtimes:open-17-jdk-ubi-ppc64le
icr.io/appcafe/ibm-semeru-runtimes:open-17-jdk-ubi-s390x
icr.io/appcafe/ibm-semeru-runtimes:open-17-jdk-ubi-minimal-amd64
icr.io/appcafe/ibm-semeru-runtimes:open-17-jdk-ubi-minimal-ppc64le
icr.io/appcafe/ibm-se

[2022-01-24 10:23] verymahler commented on #277
The JRE images are also available

[code]

[2022-01-27 14:03] verymahler commented on #277
The official [ibm-semeru-runtimes](https://hub.docker.com/_/ibm-semeru-runtimes) on Docker Hub seem more suitable

[code]

[2022-01-27 14:48] leochr commented on #277
The manifests for multi-arch images in `icr.io/appcafe/ibm-semeru-runtimes` are missing. We've raised an issue [here](https://github.com/ibmruntimes/Semeru-Runtimes/issues/16) since we (Liberty images) are blocked by that.

We'll use the Java 17 image in the official repo [ibm-semeru-runtimes](https://hub.docker.com/_/ibm-semeru-runtimes) to build the Ubuntu-based Liberty image with Java 17. But o

[2022-01-28 08:48] verymahler commented on #277
For some reason the `ibm-semeru-runtimes:open-17-jre-focal` image (260MB) is smaller than the `icr.io/appcafe/ibm-semeru-runtimes:open-17-jre-ubi-minimal-amd64` image (446MB) - the regular UBI image (434MB) is even smaller.

[2022-01-28 11:01] verymahler commented on #277
A pull request for the Ubuntu-based Liberty images with Java 17 is available here https://github.com/OpenLiberty/ci.docker/pull/291

[2022-02-01 09:09] faandg commented on #198
We are also extending UBI images using buildah/podman and we have no issues with it.
This issue is from 2020 though so a lot of version iterations have passed. Could have been an issue with the host system (permissions) or SELinux (since it happens during the package install step).

[2022-02-02 17:47] leochr commented on #286
@bogdanmuresan Are you still encountering this issue? Is the frequency still the same (every other build or 2 builds)? Thanks.

[2022-02-02 17:48] leochr commented on #284
Related issue for WebSphere Liberty: https://github.com/WASdev/ci.docker/issues/421

[2022-02-03 09:20] palkokec commented on #286
Hi @leochr - I am working on the issue with @bogdanmuresan . Usually the frequency to fix is every other build, but sporadically there were cases when it needed 2 builds.
I am going to try newest full image to see if the issue disappears.
Thanks for help

[2022-02-04 08:56] verymahler commented on #277
With these latest merges, once the changes are available on Docker Hub, I suppose the issue can be closed.

[2022-02-04 10:49] verymahler commented on #207
Implemented through https://github.com/OpenLiberty/ci.docker/pull/295

[2022-02-04 15:57] idwerv opened #296 "UBI image tags not pointing to latest releases"
The following [UBI image tags in docker hub](https://hub.docker.com/r/openliberty/open-liberty) don't seem to be pointing to the latest 22.0.0.1 release:
[code]
The [Ubuntu-based variant](https://hub.docker.com/_/open-liberty) seems to be pointing correctly to the 22.0.0.1 version of the image.

[2022-02-04 21:01] leochr commented on #296
@idwerv Thanks for reaching out. We are aware of this issue and are working to address it.

@crpotter same issue as the one already reported in internal build repo ([here](https://github.ibm.com/was-docker/build-liberty-images-ubi/issues/159))

[2022-02-07 10:54] schowave commented on #277
Available now on docker hub: https://hub.docker.com/_/open-liberty. Thank you for the support!

[2022-02-07 11:34] reindan commented on #277
The images available on docker hub are only those with Ubuntu. Java 17 UBI images are not available...

[2022-02-08 18:54] vpasquier commented on #241
Hello! I have the similar need. Is it already in progress? Is there any plan to provide it?

[2022-02-15 12:08] timraasveld commented on #241
In case anyone needs it, here is an example GitHub action to build & push a X64+ARM64 image to the Github Container registry: https://github.com/funatic-nl/openliberty-docker/blob/build-for-arm/.github/workflows/release.yml

Building a x64 image on ARM didn't work because of some qemu-related issue, but building X64 and ARM64 on x64 (on GH Actions) seems to work well...

[2022-02-16 14:14] leochr commented on #241
Thank you all for the suggestions and interest in the arm64 images. We do intend to support it. Testing for Liberty runtime on ARM64 is not complete yet. Once that completes, we'll proceed to create the container images (and do some testing). Unofficially, they are expected to be available in 2Q/3Q.
cc @NottyCode

[2022-02-17 17:03] bhasterix opened #302 "Resolution problems in installUtility at build time get missed in docker/podman build"
If the installUtility lines of configure.sh fail:
[code]

Then they OR to logic to return the return code. This is flawed as tje second ‘$?’ will return 0 because the […] block did its job.
We need those lines updated to be:
[code]
or something similar to allow the build to fail correctly in that case.

This has caused some erratic behavior with images we've built because certain dependencies of t

[2022-02-17 20:44] leochr commented on #302
Closing as duplicate of https://github.com/WASdev/ci.docker/issues/431

[2022-02-17 20:44] #302 closed

[2022-02-24 14:24] mbroz2 opened #304 "Change beta image to use latest supported version of Java (Java SE 17)"
Currently, the `beta` tagged image uses Java SE 8.  Instead, we should change that to use the latest supported version of Java (aka, 17).
Also, consider dropping `beta-java11` image.

[2022-02-24 21:01] jdmcclur commented on #265
@verymahler - any idea why icr.io/appcafe/ibm-semeru-runtimes:open-8-jre-ubi-minimal  (446MB) is so big compared to the adoptopenjdk/openjdk8-openj9:ubi-minimal-jre (271MB) I found before?

[2022-02-25 18:19] leochr commented on #304
@mbroz2 The Java 17 support was recently added via the `beta-java17` tag.
The only concern with updating `beta` tag from using Java 8 to 17 is breaking any users relying on Java 8. Perhaps that's okay since it is beta (?)

[2022-02-25 18:30] mbroz2 commented on #304
correct, since this is a beta, there are no concerns regarding regressions.

I think we should also consider removing the `beta-java11` and `beta-java17` tags, and only having the `beta tag` (using Java SE 17), but that can be a separate issue/conversation.
fyi @NottyCode

[2022-03-03 17:05] idwerv commented on #296
Looks like the issue has been fixed. Thanks!

[2022-03-03 17:05] #296 closed

[2022-03-03 21:22] mbroz2 opened #305 "Publish Open Liberty beta image to icr.io"
Currently the beta image is only available via Docker Hub.  We need to also make it available on icr.io.

[2022-03-03 21:30] kinueng commented on #305
Related to
- https://github.com/OpenLiberty/docs/issues/5233
- https://github.com/openliberty/openliberty.io/issues/2524

[2022-03-03 21:57] leochr commented on #305
Only Ubuntu-based beta images are available at the moment in Docker Hub. We'll need to develop UBI-based beta images first before they can be published to icr.io. @halim-lee could you please look into that?

fyi @crpotter

[2022-03-09 07:34] wlijiancp4mcm opened #307 "Container vunerability issue CVE-2022-24407 (cyrus-sasl-lib package)"
Twistlock scan reports that openliberty base image has this issue. Can you please advise if the base image can be updated to address it and when?

[code]

[2022-03-09 13:18] NottyCode commented on #307
I just checked the UBI base image that we use from Red Hat and it isn't resolved. We expect the images we base on to patch for these issues.

We are based on UBI 8.5 which isn't listed on the Red Hat site as vulnerable (neither is RHEL 8.5) so I'm not sure if that means it isn't vulnerable, or they don't list it because it isn't an EUS release.

In response to your questions the if it can be fixed

[2022-03-09 14:25] snehahegde7 commented on #307
@NottyCode , UBI latest versions are usually free of vulnerabilities.. Any idea on why that is not used?
```registry.access.redhat.com/ubi8/ubi-minimal:latest```

[2022-03-09 20:16] snehahegde7 commented on #307
Redhat has released new 8.5 image(8.5-230.1645809059) 6 days ago. Can you confirm if you are using the latest 8.5? or if its different subversion, can you confirm that version?

[2022-03-09 21:39] leochr commented on #307
@snehahegde7 Liberty images are using UBI 8.5, but they are older than 6 days. We'll rebuild the Liberty images (as well as the underlying Java images) to pick up any updates for UBI. cc @crpotter

[2022-03-09 22:58] leochr commented on #305
UBI-based beta [Dockerfile](https://github.com/OpenLiberty/ci.docker/blob/master/releases/latest/beta/Dockerfile.ubi.openjdk17) was added (thanks @halim-lee).

@crpotter please use it to build and publish image to `icr.io/appcafe/open-liberty:beta`. Thanks.

[2022-03-10 01:16] wlijiancp4mcm commented on #307
@leochr @crpotter @NottyCode Thanks so much for the above info.

Do we have a target date to have the newly rebuilt image? We(IBM product release) hope to pick it up by this Friday.

[2022-03-10 14:21] snehahegde7 commented on #307
@leochr Thank you for the confirmation. Could you please confirm when would open-liberty and underlying java images will be rebuilt with latest UBI 8.5 image?

[2022-03-10 19:23] leochr commented on #307
The Java images have been updated. @crpotter could you please rebuild the Liberty images? Any idea when that can be completed?

[2022-03-11 13:06] bkovacs2 opened #308 "org.springframework.aop.framework.AopConfigException: Could not generate CGLIB subclass of class"
Hello,

We want to start a big enterprise application on Liberty, but faced the exception below. Spring can't create the proxy of the bean.
Here is an example how the bean creation looks like where the PreloadData is an interface:
[code]
Please note the same application is able to start on WebSphere Traditional server without any issue. Could you please help us with it? What further information do

[2022-03-23 07:07] #308 closed

[2022-03-23 07:08] bkovacs2 commented on #308
No response. Found a way to fix

[2022-03-25 03:46] dlong-1 commented on #307
Any updates on the Liberty image rebuild?

[2022-03-25 14:41] leochr commented on #307
Liberty images were rebuilt last week. So technically this CVE should not be flagged anymore

[2022-03-25 14:41] #307 closed

[2022-05-04 15:38] leochr opened #312 "Evaluate the generation and handling of keystore and truststore and improve as possible"
There are various ways to inject keystore and truststore for the application. In some cases, some conflicts could prevent the application from working as expected. Re-evaluate the generation and handling of keystore and truststore and improve as possible.

Open Liberty runtime also supports providing certificates as env var to establish trust. Switch to this mechanism if possible: https://openlibe

[2022-05-05 13:03] mbroz2 commented on #305
any update regarding making this available?

[2022-05-10 11:16] matthewpwilson commented on #207
@verymahler please can you tell me which images are based on ubi-mimimal?

[2022-05-10 12:29] verymahler commented on #207
@matthewpwilson They aren't. I removed my comment.

[2022-05-20 15:16] yeekangc opened #318 "Update template for application image to be consistent with Starter and guide"
The template for a Dockerfile or Containerfile noted in the README does the below atm:

Should update it to be like the below to be consistent with what is generated by the Starter (start.openliberty.io) and what is covered in the Containerize guide (https://openliberty.io/guides/containerize.html#creating-your-dockerfiles):

This aligns with the more common pattern.  The server.xml will need a <w

[2022-06-03 13:31] dougbreaux opened #320 "infinispan-client-setup.sh failing on yum install maven"
Starting just a day or two ago, with the exact same Dockerfile, infinispan-client-setup.sh started reporting this error:
[code]

In an internal Slack conversation, it was suggested that it might be necessary to run
[code]
And this does indeed seem to have allowed the script to succeed, although perhaps only, so far, when running only the infinispan-client stage. When running both stages, I'm not s

[2022-06-03 15:05] dougbreaux commented on #320
To follow-up, GitHub Actions docker build is now working with this set of modified steps:
[code]

[2022-06-15 16:39] arkodg commented on #241
@leochr any update ?

[2022-06-17 07:02] zancrazvan commented on #286
Hello,

I'm facing the same issue described by @bogdanmuresan using the image `openliberty/open-liberty:22.0.0.6-kernel-slim-java11-openj9-ubi`

[2022-06-24 12:12] leochr commented on #305
@crpotter is there any update?

[2022-06-24 12:16] leochr commented on #277
Java 17 images are now available for both UBI and Ubuntu. Closing.

[2022-06-24 12:16] #277 closed

[2022-06-24 12:29] leochr commented on #265
JRE images will be used for ubi-min based images (tracked by https://github.com/OpenLiberty/ci.docker/issues/207). Closing.

[2022-06-24 12:29] #265 closed

[2022-06-24 12:36] leochr opened #323 "Update the ICR release page when 22.0.0.7 images are available"
Add the tags for 22.0.0.7 images when they are available (mid-July)
https://github.com/OpenLiberty/ci.docker/blob/main/docs/icr-images.md

@crpotter Please add a comment to this issue when the 22.0.0.7 images are published.

[2022-06-27 17:12] dougbreaux commented on #320
Any follow-up on addressing this in the image? And, in the meantime, in the documentation?

[2022-07-12 23:15] dougbreaux opened #326 "Please update readme to indicate that Infinispan is no longer beta"

[2022-07-21 14:20] lmsurpre commented on #207
@leochr is there any update on this?  your comment on the PR says:

But its been over 6 months...is the Semeru runtimes team planning to make ubi-min (or ubi-micro) images available?

[2022-08-03 13:48] jamiecoleman92 commented on #241
So this issue is now coming to light more because IBM is now shipping the new M1/M2 laptops to developers. This means any person using a new Mac is going to hit issues with our Docker images. There is a work around to get the image downloaded but it then fails in Kubernetes environments with the JVM falling over.  Do we have an ETA for this being resolved as all our Kubernetes guides on openlibert

[2022-08-03 13:48] jamiecoleman92 commented on #241
@gkwan-ibm & @ReeceNana FYI ^^^

[2022-08-03 14:48] timraasveld commented on #241
I noticed the workaround GitHub action to build & host your own ARM64+AMD64 image gave a 404. So I updated the link in case anyone still needs it: https://github.com/funatic-nl/openliberty-docker/blob/master/.github/workflows/release.yml

The steps are:
1. Fork https://github.com/OpenLiberty/ci.docker
2. Copy the GitHub action I posted
3. Make a dummy commit to trigger the action
4. Specify `ghcr.

[2022-08-04 18:14] dougbreaux commented on #326
And any other relevant updates as well, please

[2022-08-04 18:14] dougbreaux commented on #320
Surely we're not the only people hitting this issue?

[2022-08-04 21:37] kabicin commented on #320
Hello, https://github.com/OpenLiberty/ci.docker/pull/330 adds `yum module enable -y maven:3.6` to `infinispan-client-setup.sh` across all images so the original `RUN infinispan-client-setup.sh` can be used again. Is the issue still occuring in your local builds?

[2022-08-04 22:09] dougbreaux commented on #320
We have a workaround in place, and I hadn't seen any updates here, so I hadn't tried in a bit. And looks like that PR isn't merged yet, correct?

[2022-08-05 13:53] kabicin commented on #320
No problem, the build appears to be resolved on my end when enabling the module, which is why I just wanted to confirm before getting the review, so it's not merged yet, but it looks like we can proceed with this change. Thanks.

[2022-08-05 22:03] leochr commented on #326
Resolved by https://github.com/OpenLiberty/ci.docker/pull/329

[2022-08-05 22:03] #326 closed

[2022-08-09 17:24] ttelang opened #332 "no matching manifest for linux/arm64/v8 in the manifest list entries"
Running the following command is throwing error as follow:

[code]

Please advise how can I resolve this.

[2022-08-11 17:15] leochr commented on #332
@ttelang Liberty doesn't provide arm64 based images at this time. This request is already tracked by this issue: https://github.com/OpenLiberty/ci.docker/issues/241

Specify the `--platform` parameter to pull one of the available images. Platform options: `linux/amd64` , `linux/s390x` or `linux/ppc64le`
For example, `docker pull icr.io/appcafe/open-liberty:full-java11-openj9-ubi --platform linux/a

[2022-08-11 17:15] #332 closed

[2022-08-17 17:44] NottyCode opened #335 "Improve Dockerfiles for a more seamless experience customizing for hotspot"
A user reached out to me asking how to build a Hotspot based image for Open Liberty. They needed to use Java Flight Recorder which isn't part of OpenJ9. I had hoped that it would be as simple as cloning our repository and updating the FROM line from an ibm-semeru-runtimes image to eclipse-termurin one, however when I did this I got the following error:

[code]

I was using this Dockerfile https://

[2022-08-22 13:29] #323 closed

[2022-08-31 14:03] zancrazvan commented on #241
Any updates regarding this topic?

[2022-08-31 14:06] zancrazvan commented on #286
Hello,

Adding this line in the Dockerfile fixed the issue.
`ENV JVM_ARGS="${JVM_ARGS} -Dcom.ibm.ws.install.featureUtility.artifactThreads=1"`

Looks like there is a concurrency issue during the features download

[2022-09-07 21:50] camilo364 opened #341 "security scan- vulnerabilities"
open-liberty:22.0.0.9-full-java8-openj9: total - 20, critical - 1, high - 2, medium - 8, low - 9
Vulnerability

Do you have an idea how can i fix them.

[vulnerabilities.txt](https://github.com/OpenLiberty/ci.docker/files/9521089/vulnerabilities.txt)

[2022-09-09 17:59] kabicin commented on #286
I am able to reproduce this error using `open-liberty:21.0.0.10-kernel-slim-java11-openj9` as a base image. The `Starting installation ...` step of featureUtility has its progress bar understated by a few hundredths of percentage points and isn't rounded to a whole number as would expect. The discrepancy dominoes its way to the final percentage of the progress bar and it doesn't complete, similar

[2022-09-12 19:50] awiradarma commented on #241
We're also very interested in leveraging ARM based open liberty image. We have an active effort to migrate hundreds of our Java EE workloads to containerized open liberty deployment, and a lot of our developers are getting M1 mac book pros. Please provide an update on whether there's an ETA for a resolution to this.

[2022-09-12 20:14] leochr commented on #341
@camilo364 I see some old CVEs for Liberty which should already be fixed in the referenced image above for 22.0.0.9. For example, CVE-2018-1851 which was fixed in 18.0.0.3. Is the scanner (which one btw?) complaining that the above image is vulnerable to these Liberty related CVEs?

Are there any other CVEs you are looking for in particular?

Wondering whether others are for the operating system U

[2022-09-13 18:36] #286 closed

[2022-09-13 20:12] leochr commented on #286
Thank you all for helping to get to the bottom of this! The fix will be included in an upcoming version of Open Liberty (likely 22.0.0.10).

[2022-09-21 06:31] sdehors-ibm commented on #33
There is now an official Java docker image for arm64v8
https://hub.docker.com/layers/arm64v8/ibm-semeru-runtimes/open-11-jre/images/sha256-51b328d2ce7504ab03a4ad642e76746abfe29d5b31b2e15ae8dfea425772152c?context=explore

[2022-10-06 14:00] lmsurpre commented on #241
@leochr I see https://github.com/ibmruntimes/Semeru-Runtimes/issues/33 got closed a few weeks ago...can we expect an official M1 image anytime soon?

[2022-10-19 13:35] ReeceNana commented on #241
@jakub-pomykala FYI

[2022-10-27 12:36] bmarwell opened #352 "InstantOn: Unable to interrupt task: 205 (Operation not permitted)"
Hey everyone!

First of all thanks for InstantOn. I think it is a GREAT technology!

So  first of all, I prepared my application to use CRIU: https://github.com/bmarwell/openliberty-content-negotiation-example/tree/54faec642e27d0f12c976f12f68ccc292b0632cd
I used this guide: https://openliberty.io/blog/2022/09/29/instant-on-beta.html#app-image

`mvn package -Ddockerize`

Image building works just f

[2022-10-27 14:23] leochr commented on #352
@tjwatson @mbroz2 could you please look into this? Thanks

[2022-10-28 18:57] tjwatson commented on #352
These you can safely ignore and should be fixed in the next beta.

Quick question.  Are you doing this as a non-root user?

[2022-10-28 19:20] bmarwell commented on #352
Yes, as non-root user. My guess is that this is not an issue with the OL image and I did find some threads on the interweb pointing to some kernel changes.
I mostly followed the Arch Linux guidelines (https://wiki.archlinux.org/title/Podman) and installed the latest CRIU package from AUR. I also followed the rootless settings from the wiki.
Every other command I executed as user=1000 is written do

[2022-10-28 19:47] tjwatson commented on #352
You should not need CRIU installed on the host system to use Liberty InstantOn with our container images.

I expect the issue is rootless podman cannot successfully grant the running container the necessary capabilities.  It would be useful to know if this fails for you when not using rootless podman.

[2022-10-29 19:32] bmarwell commented on #352
Hi Thomas!

I can confirm that it works flawlessly when:

1. Building without k8s-maven-plugin
2. Then building the image *as root* using `podman build --build-arg JKUBE_DEFAULT_ASSEMBLY=.  . -t openlibertycontentrenegotiation/olcr-app-ol-docker:latest`
3. Run  as root: `podman run --name olcr-checkpoint-container --privileged --env WLP_CHECKPOINT=applications openlibertycontentrenegotiation/olcr-

[2022-10-30 18:08] tjwatson commented on #352
If on a kernel that has `clone3` system call then you should be able to start (as root) without `--privileged` with something like this:

[code]

If you system doesn't have `clone3` then you need to mount `ns_last_pid` from proc:

[code]

On RHEL podman seems to grant (by default) all the necessary system calls CRIU needs.  But if you have trouble with the with the above it maybe that your system

[2022-11-01 19:55] tjwatson commented on #352
Given how https://github.com/containers/podman/issues/7866 was handled I do not expect us to be able to use rootless podman to restore in-container.

[2022-11-02 19:46] dettmoney opened #353 "Remove generated server.env from InstantOn dockerfile"
Doing InstantOn startup performance testing has exposed a small (5-10ms) issue that has become relatively larger now that our startup times are around 100ms. Using the instanton beta Dockerfile.ubi.openjdk17, a server is created with the command "server create --template=javaee8", resulting in the creation of a server.env being generated in the server directory containing keystore_passord=abc123.

[2022-11-07 16:12] pugmas opened #355 "Missing java17 images?"
Hi,
are there java17 images for 22.0.0.11 i.e.:
`openliberty/open-liberty:22.0.0.11-full-java17-openj9-ubi`
or is the latest
`openliberty/open-liberty:22.0.0.10-full-java17-openj9-ubi`
built with a fix for CVE-2022-24839 ?

Thanks!

[2022-11-07 21:09] leochr commented on #355
@pugmas 22.0.0.10 wouldn't contain the fix for CVE-2022-24839. Only 22.0.0.11 and above contain the fix for CVE-2022-24839.

The Open Liberty images based on Java 17 couldn't be built and published with the initial release of 22.0.0.11 images due to a manifest issue in the Java 17 image. That's now fixed. We are attempting to rebuild the 22.0.0.11 images including Java 17. You can expect them to b

[2022-11-07 21:14] leochr commented on #355
@pugmas Noticed that you are using the Liberty UBI-based images from Docker Hub. In case you are not already aware, the same images are now available from IBM Container Registry (ICR). Our recommendation is to use ICR. ICR is entirely managed by IBM and doesn't impose any pull rate limits like Docker Hub. More information on UBI images in ICR can be found here: https://github.com/OpenLiberty/ci.do

[2022-11-08 08:34] pugmas commented on #355
@leochr Thanks for your answers!

Our app is written in Java 17, so I think we can't use a Java11 image.

Thank you for the information. In the meantime, do we have access to the interim fixes? Mentioned here:
https://github.com/OpenLiberty/ci.docker/blob/main/releases/applying-ifixes/README.md

[2022-11-08 17:39] leochr commented on #355
@pugmas The interim fix is listed on the [bulletins page](https://www.ibm.com/support/pages/security-bulletin-ibm-websphere-application-server-liberty-vulnerable-denial-service-due-neko-html-cve-2022-24839) which points to the fix for [APAR PH48810](https://www.ibm.com/support/pages/node/6824207). Download the fix and include it in the application image as per the instructions in https://github.co

[2022-11-14 10:25] colvinco commented on #355
Hello, just wondering if you've got a rough idea of when the 22.0.0.11 images will be available on docker hub? Thanks

[2022-11-18 14:20] leochr opened #357 "Include the recent LTS version Java in the images provided by 'latest' and 'beta' tags"
The current images use Java 8, switch to using the most recent LTS version of Java in the images provided by `beta` and `latest` tags

[2022-11-29 08:44] HansReygaert commented on #241
Can someone explain to me the hold up? If a PR was accepted in Februari and all that was left to do was test them, surely enough time has passed since?